<template>
  <v-sheet class="pa-4 cursor-pointer">
    <v-row
      no-gutters
      align="center"
      justify="center"
      class="align-content-start"
    >
      <v-col cols="0" sm="0">
        <v-checkbox v-model="checkbox" />
      </v-col>

      <v-col cols="2" sm="3">
        <div class="d-flex justify-start">
          <div class="d-sm-flex flex-wrap justify-start align-center">
            <merchant-logo
              :merchant="recipient.groupName"
              size="4.0rem"
              data-test="available-item-logo"
              no-padding
            />

            <div
              class="title-tile font-weight-bold ml-md-2 hidden-sm-and-down"
              data-test="available-item-merchant"
            >
              {{ recipient.doingBusinessAs }}
            </div>
          </div>
        </div>
      </v-col>

      <v-col
        align="center"
        class="justify-center align-center d-flex flex-wrap"
      >
        <div
          class="avail-float title-tile font-weight-bold ml-md-2 hidden-md-and-up pa-2"
          data-test="available-item-merchant"
          no-padding
        >
          {{ recipient.doingBusinessAs }}
        </div>
        <div no-padding class="hidden-sm-and-down pa-2">
          <h4 class="avail-title">Issued</h4>
          <div>{{ payout.transactionDate | shortDate }}</div>
        </div>
        <div class="pa-2">
          <h4 class="avail-title">Expires</h4>
          {{ payout.expiryDate | shortDate }}
        </div>
      </v-col>

      <v-col cols="4" sm="0">
        <div
          class="text-h4 text-sm-h3 text-right"
          data-test="available-item-amount"
        >
          {{
            payout.totalTransactionAmount.total
              | currency(payout.totalTransactionAmount.currency)
          }}
        </div>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import MerchantLogo from "@/components/MerchantLogo";

export default {
  name: "PayoutsAvailableListItem",

  components: { MerchantLogo },

  props: { payout: { type: Object, required: true } },

  data() {
    return {
      checkbox: false,
    };
  },

  computed: {
    recipient() {
      return this.payout.recipient[0];
    },
  },
};
</script>

<style scoped>
.dot {
  width: 10px;
  height: 10px;
  min-width: 10px;
}

.avail-float {
  text-align: left !important;
}

.avail-title {
  color: grey;
  text-align: left !important;
}

.title-tile {
  width: 99px;
}
</style>
