<template>
  <div
    class="tile align-center count-container hidden-sm-and-down"
    data-test="count-tile"
  >
    <div class="counter-container">
      <div data-test="count-data">
        <span class="mr-2 secondary--text">{{ title }}</span>
        <span class="mr-2 text-h3">{{ availablePayoutAmount | currency }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "PayoutsAvailibleCounter",

  props: {
    title: {
      type: String,
      required: true,
    },
  },

  computed: {
    ...mapGetters(["availablePayoutAmount"]),
  },
};
</script>
<style></style>
