<template>
  <div data-test="payouts-available">
    <v-col class="select-all" cols="5" sm="5">
      <v-checkbox
        v-model="selectAll"
        :label="`Select All`"
        @click="checkAll()"
      />
    </v-col>

    <div v-if="loading" data-test="available-loader">
      <v-skeleton-loader
        v-for="n in size.value"
        :key="n"
        type="list-item-avatar-two-line"
        class="mb-3"
      />
    </div>

    <div v-else data-test="payouts-available-list">
      <payouts-available-list-item
        v-for="(payout, idx) in payouts"
        :key="idx"
        :payout="payout"
        class="mb-5"
        data-test="payouts-available-list-item"
      />
    </div>
  </div>
</template>

<script>
import PayoutsAvailableListItem from "@/components/payouts/available/PayoutsAvailableListItem";
import { mapMutations } from "vuex";
import { PUSH_APP_ERROR } from "@/store/mutation-types";
import { FETCH_AVAILABLE_PAYOUTS } from "@/store/action-types";

export default {
  name: "PayoutsAvailable",

  components: {
    PayoutsAvailableListItem,
  },
  data() {
    return {
      pages: {
        currentPage: 1,
        firstPage: true,
      },

      loading: false,

      size: {
        items: [10, 25, 50],
        value: 10,
      },

      payouts: [],

      selected: [],
      selectAll: [],
      count: 5,
    };
  },

  created() {
    this.fetchPayoutHistory(this.pages.currentPage);
  },

  methods: {
    ...mapMutations({ pushAppError: PUSH_APP_ERROR }),

    fetchPayoutHistory(page) {
      this.loading = true;

      this.$store
        .dispatch(FETCH_AVAILABLE_PAYOUTS, {
          page: page,
          size: this.size.value,
        })
        .then((data) => {
          this.payouts = data.transactions;
          this.pages = data.pages;
        })
        .catch(() =>
          this.pushAppError(this.$t("payouts.listView.available.networkError"))
        )
        .finally(() => (this.loading = false));
    },
  },
};
</script>

<style scoped>
.v-label {
  font-weight: bold;
  color: black;
}

.select-all {
  padding-left: 18px;
}
</style>
