<template>
  <div>
    <div class="d-flex align-center mb-6">
      <div class="text-h5 font-weight-bold mr-5 mr-sm-10">
        {{ $t("payouts.listView.title") }}
      </div>

      <v-tabs
        v-model="active"
        hide-slider
        :background-color="$vuetify.theme.themes.light.background"
        color="accent"
      >
        <v-tab>
          <div class="d-flex align-center">
            <v-icon class="mr-1">{{ mdiCashCheck }}</v-icon>
            <div>
              {{ $t("payouts.listView.availableTab") }}
            </div>
          </div>
        </v-tab>

        <v-tab>
          <div class="d-flex align-center">
            <v-icon class="mr-1 pb-2">{{ mdiPoll }}</v-icon>
            <div>
              {{ $t("payouts.listView.historyTab") }}
            </div>
          </div>
        </v-tab>
      </v-tabs>
      <payouts-availible-counter
        v-if="active === 0"
        :title="$t('payoutByMerchant.total')"
        class="hidden-md-and-down"
      />
    </div>

    <payouts-history v-if="active === 1" />
    <payouts-available v-if="active === 0" />
  </div>
</template>

<script>
import PayoutsHistory from "@/components/payouts/history/PayoutsHistory";
import PayoutsAvailable from "@/components/payouts/available/PayoutsAvailable";
import PayoutsAvailibleCounter from "./available/PayoutsAvailableCounter.vue";
import { mdiPoll, mdiCashCheck } from "@mdi/js";

export default {
  name: "PayoutsListView",

  components: {
    PayoutsHistory,
    PayoutsAvailable,
    PayoutsAvailibleCounter,
  },

  props: {
    initActive: {
      type: String,
      default: "available",
    },
  },

  data() {
    return {
      mdiPoll,
      mdiCashCheck,
      active: this.initActive === "available" ? 0 : 1,
    };
  },

};
</script>
