<template>
  <div>
    <div class="text-h4" data-test="recent-activity-title">
      {{ $t("dashboard.recentActivities.title") }}
    </div>
  </div>
</template>

<script>
export default {
  name: "RecentActivities",
};
</script>
