<template>
  <div class="page-content pa-lg-16 pa-sm-10 px-2 py-12">
    <v-card elevation="2" tile>
      <router-view />
    </v-card>
  </div>
</template>
<script>
import { HIDE_FOOTER, SHOW_FOOTER } from "@/store/action-types";

export default {
  name: "Legal",

  beforeCreate() {
    this.$store.dispatch(HIDE_FOOTER);
  },

  destroyed() {
    this.$store.dispatch(SHOW_FOOTER);
  },
};
</script>
<style scoped>
.page-content {
  background: center center no-repeat url("~@/assets/img/auth_cover.png");
  background-size: cover;
  height: 100%;
}
</style>
