<template>
  <div class="text-left pa-lg-16 pa-md-16 pa-sm-8 px-3 py-6">
    <h2 class="text-center">Recipient Portal Privacy Policy</h2>
    <div class="content-below-title py-10">
      <div>
        <p>{{ privacyPolicy }}</p>
      </div>
      <div>
        <h2>Personal information we collect</h2>
      </div>
      <div class="personalInfo">
        <h3 class="py-6">Information you give us</h3>
        <p>{{ personalInfoYouProvide }}</p>
        <div class="personalInfoList">
          <ul>
            <li class="py-3">
              <b>Contact Information</b> {{ contactInformation }}
            </li>
            <li class="py-3">
              <b>Profile Information</b> {{ profileInformation }}
            </li>
            <li class="py-3">
              <b>Identity Verification Information</b>
              {{ identityVerificationInformation }}
            </li>
            <li class="py-3">
              <b>Financial Information</b> {{ financialInformation }}
            </li>
            <li class="py-3">
              <b>Transaction Information</b> {{ transactionInformation }}
            </li>
            <li class="py-3">
              <b>Feedback and Correspondence</b> {{ feedbackAndCorrespondence }}
            </li>
            <li class="py-3">
              <b>Usage Information</b> {{ usageInformation }}
            </li>
            <li class="py-3">
              <b>Communications Preferences</b> {{ communicationsPreferences }}
            </li>
          </ul>
        </div>

        <p>{{ transactionRelatedPI }}</p>
      </div>
      <div class="informationAutomaticallyCollected">
        <h3 class="py-3">Information automatically collected</h3>
        <p class="py-3">
          {{ informationAutomaticallyCollected }}
        </p>
        <p>The information that may be collected automatically includes:</p>
        <ul>
          <li class="py-3">
            <b>Information about your computer or mobile device</b>
            {{ infoAboutComputerOrDevice }}
          </li>
          <li class="py-3">
            <b>Information about your use of and actions on our Portal</b>
            {{ infoAboutUseAndActions }}
          </li>
        </ul>
      </div>
      <div>
        <h2 class="py-4">How we use your personal information</h2>
        <p class="">We use personal information to:</p>
        <ul>
          <li class="py-1">
            {{ processAndManageTransactions }}
          </li>
          <li class="py-2">
            {{ operateMaintainAdminister }}
          </li>
          <li class="py-2">{{ manageAndCommunicate }}</li>
          <li class="py-2">
            {{ sendMarketingCommunications }}
          </li>
          <li class="py-2">
            {{ manageIndividualReferrals }}
          </li>
          <li class="py-2">
            {{ betterUnderstandYourNeeds }}
          </li>
          <li class="py-2">{{ provideSupport }}</li>
          <li class="py-2">
            {{ respondToServiceRequests }}
          </li>
          <li class="py-2">{{ enableOperateSecurity }}</li>
          <li class="py-2">{{ provideAnalytics }}</li>
          <li class="py-2">{{ deIdentifyPI }}</li>
          <li class="py-2">{{ complyWithLaws }}</li>
          <li class="py-2">
            {{ respondToLawfulRequests }}
          </li>
          <li class="py-2">
            {{ enforceTermsAndConditions }}
          </li>
          <li class="py-2">{{ protectRights }}</li>
          <li class="py-2">
            {{ identifyProtectInvestigate }}
          </li>
        </ul>
      </div>
      <div>
        <h2 class="py-4">How we share your personal information</h2>
        <p>We may share your personal information with:</p>
        <ul>
          <li class="py-2">{{ ourSubsidiaries }}</li>
          <li class="py-2">
            {{ businessesWhichYouAreTransacting }}
          </li>
          <li class="py-2">{{ marketingPartners }}</li>
          <li class="py-2">
            {{ serviceProvidersThatEnableFunctionality }}
          </li>
          <li class="py-2">{{ professionalAdvisors }}</li>
        </ul>
        <p class="py-1">{{ fiservMayAlsoDisclose }}</p>
        <p class="py-1">{{ inAdditionFiservMayTransfer }}</p>
      </div>
      <div>
        <h2 class="py-2">
          Optional third-party features, functionality, and offers
        </h2>
        <p class="py-2">{{ fiservMayPartnerWithThirdParty }}</p>
      </div>
      <div>
        <h2 class="py-2">Your Choices</h2>
        <div>
          <h3 class="py-2">Update or correct your information</h3>
          <p class="py-2">{{ youMayUpdatePI }}</p>
        </div>
        <div>
          <h3 class="py-2">Marketing communications</h3>
          <p class="py-2">{{ marketingCommunications }}</p>
        </div>
        <div>
          <h3 class="py-2">Disabling cookies</h3>
          <p class="py-1">{{ disablingCookies }}</p>
          <p class="py-1">
            {{ furtherInfoAboutCookies }}
            <a href="www.allaboutcookies.org">www.allaboutcookies.org</a>.
          </p>
          <p class="py-2">{{ ifNotAcceptCookies }}</p>
        </div>
        <div>
          <h3 class="py-2">Do Not Track signals</h3>
          <p class="py-2">
            {{ doNotTrackSignals }}
            <a href="http://www.allaboutdnt.com">http://www.allaboutdnt.com</a>.
          </p>
        </div>
        <div>
          <h3 class="py-2">Security</h3>
          <p class="py-2">{{ security }}</p>
        </div>
        <div>
          <h3 class="py-2">International transfers</h3>
          <p class="py-2">{{ internationalTransfers }}</p>
        </div>
        <div>
          <h3 class="py-2">Other sites and services</h3>
          <p class="py-2">{{ otherSitesAndServices }}</p>
        </div>
      </div>
      <div>
        <h2 class="py-2">Changes to this privacy policy</h2>
        <p class="py-2">{{ weReserveTheRightToModify }}</p>
        <p class="py-2">{{ anyModificationsWillBeEffective }}</p>
      </div>
      <div>
        <h2 class="py-2">Contact us</h2>
        <p class="py-2">
          {{ contactUs }} <a href="mailto:dpo@fiserv.com">dpo@fiserv.com</a> or
          1-800-368-1000
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      privacyPolicy: `This policy describes the privacy practices of Fiserv, Inc. (“Fiserv”, “we”, “us”, or “our”) in connection with the
      Carat Recipient Portal website, and the rights and choices available to individuals with respect to their information. For convenience,
      our website and any associated mobile application covered by this privacy policy are collectively referred to as the “Portal.”
      Fiserv may provide additional or supplemental privacy notices to individuals at the time we collect their data, which will govern how we
      may process the information provided at that time.`,
      personalInfoYouProvide:
        "Personal information that you may provide through the Portal includes:",
      contactInformation:
        ", such as your full name, mailing address, phone number, and email address",
      profileInformation: `, such as the user ID, password, and Personal Identification Number
      that you establish on the Portal, and information about your interests and preferences`,
      identityVerificationInformation:
        ", such as your Social Security Number, date of birth, and answers to your account security questions",
      financialInformation: ", such as your bank account information",
      transactionInformation:
        ", such as money transfers or other financial transactions you engage in using the Portal",
      feedbackAndCorrespondence:
        ", such as information you provide when you receive customer support or otherwise correspond with us online",
      usageInformation:
        ", such as information about how you use the Portal and interact with us, including information associated with any content you may upload to the Portal or otherwise submit to us, and information you provide when you use any interactive features of the Portal",
      communicationsPreferences:
        ", such your preferences for receiving account alerts, marketing communications, surveys, and other communications from us",
      transactionRelatedPI:
        "In addition, we may receive transaction-related and other personal information from the businesses with which you are transacting.",
      informationAutomaticallyCollected: `When you access our Portal, we and our service providers may automatically collect a variety of
        information about your computer or mobile device and activity on our Portal via cookies, pixel tags, third-party software developer
        kits integrated into our mobile application, and other technologies. A "cookie" is a text file that websites send to a visitor's computer
        or other Internet-connected device to uniquely identify the visitor's browser or to store information or settings in the browser. A "web beacon,"
        also known as an Internet tag, pixel tag or clear GIF, is used to transmit information back to a web server. Pixel tags
        (which are also known as web beacons and clear GIFs) are embedded invisibly on webpages or within HTML formatted emails and are used to
        demonstrate that certain content was viewed. We and our service providers may collect information about your online activities over time
        and across third-party websites when you use our websites and mobile applications.`,
      infoAboutComputerOrDevice: `, such as computer or device type, manufacturer, and model, information about the operating system and software
         and applications installed on your computer or mobile device, browser type and language, information about your network connectivity and
          nearby networks, unique device identifiers (such as the Google Advertising ID or Apple ID for Advertising), screen resolution, IP address,
          the website you visited before browsing to our Portal, and information about the battery level of your mobile device;`,
      infoAboutUseAndActions: `, such as pages you viewed on the Portal along with referring and exit URLs, how long you spent on a page, navigation
      paths between pages, information about your activity on a page, access times, and length of access.`,
      processAndManageTransactions:
        "Process and manage transactions you make through the Portal, including funds transfers",
      operateMaintainAdminister:
        "Operate, maintain, administer, and improve the Portal",
      manageAndCommunicate: `Manage and communicate with you regarding your account with us, if you have one, including by sending you account alerts
      that you requested, service announcements, technical notices, updates, security alerts, and support and administrative messages`,
      sendMarketingCommunications:
        "Send you marketing communications, surveys, and other communications about Fiserv and its services that we believe you would find interesting",
      manageIndividualReferrals: "Manage individual referrals",
      betterUnderstandYourNeeds:
        "Better understand your needs and interests, and personalize your experience with the Portal",
      provideSupport: "Provide support and maintenance for the Portal",
      respondToServiceRequests:
        "Respond to your service-related requests, questions and feedback",
      enableOperateSecurity:
        "Enable and operate security features of the Portal",
      provideAnalytics: "Provide analytics and other value-added services",
      deIdentifyPI:
        "De-identify personal information by excluding information that makes the data personally identifiable",
      complyWithLaws: "Comply with applicable laws",
      respondToLawfulRequests:
        "Respond to lawful requests and legal process, such as subpoenas or requests from government authorities",
      enforceTermsAndConditions:
        "Enforce the terms and conditions that govern the Portal",
      protectRights:
        "Protect our rights, privacy, safety or property, and/or that of you or others",
      identifyProtectInvestigate:
        "Identify, and protect, investigate and deter against, fraudulent, harmful, unauthorized, unethical or illegal activity",
      ourSubsidiaries:
        "Our subsidiaries and corporate affiliates, for purposes consistent with this privacy policy.",
      businessesWhichYouAreTransacting:
        "The businesses with which you are transacting as well as your financial institution in order to facilitate transactions using our services.",
      marketingPartners:
        "With marketing partners, to the extent permitted by applicable law.",
      serviceProvidersThatEnableFunctionality: `Service providers that enable functionality of the Portal and administer and provide services on our behalf
        (such as customer support, fraud detection and prevention, hosting, email delivery, marketing, and database management services). These third parties
        may use your information only as permitted by Fiserv and in a manner consistent with this privacy policy.`,
      professionalAdvisors:
        "Professional advisors, such as lawyers, bankers, auditors and insurers, where necessary in the course of the professional services that they render to us.",
      fiservMayAlsoDisclose: `Fiserv also may disclose information about you to government or law enforcement officials or private parties as required by law,
        and disclose and use such information as we believe necessary or appropriate to (a) comply with applicable laws and lawful requests and legal process,
        such as to respond to subpoenas or requests from government authorities; (b) enforce the terms and conditions that govern the Portal; (d) protect our rights,
        privacy, safety or property, and/or that of you or others; and (e) protect, investigate and deter against fraudulent, harmful, unauthorized, unethical or
        illegal activity.`,
      inAdditionFiservMayTransfer: `In addition, Fiserv may transfer or otherwise share some or all of its business or assets, including your personal information,
        in connection with a business transaction (or potential business transaction) such as a merger, consolidation, acquisition, reorganization or sale of assets
        or in the event of bankruptcy, in which case we will make reasonable efforts to require the recipient to honor this privacy policy.`,
      fiservMayPartnerWithThirdParty: `Fiserv may partner with third-party companies to provide optional additional features or functionality on or within the Portal
        or to offer or sell goods or services directly to you through the Portal. We will state on the Portal when you are engaging with a third-party, and you will typically
        be presented with the third-party company's terms and conditions and privacy policy before you engage with that company. We may add or remove third-party companies that
        provide features, functionality, and offers at any time. If you choose to use optional features or purchase goods or services from a third-party through the Portal, any
        information you provide to that third party will be subject to that third party's privacy policy and the terms and conditions that govern the feature or functionality or
        the use or sale of its goods or services.`,
      youMayUpdatePI:
        "You may update or correct the personal information in your account by visiting your account settings.",
      marketingCommunications: `You may opt out of marketing-related emails by clicking on a link at the bottom of each such email or, if applicable, logging in and changing
         your account settings. You may continue to receive service-related and other non-marketing emails.`,

      disablingCookies: `You can typically remove or reject cookies via your browser settings. In order to do this, follow the instructions provided by your browser
         (usually located within the "settings," "help" "tools" or "edit" menus). Many browsers are set to accept cookies until you change your settings.`,
      furtherInfoAboutCookies: `For further information about cookies, including how to see what cookies have been set on your computer or mobile device and how to
         manage and delete them, visit`,
      ifNotAcceptCookies: `If you do not accept our cookies, you may experience some inconvenience in your use of our Portal. For example, we may not be able to
      recognize your computer or mobile device and you may need to log in every time you visit our Portal.`,
      doNotTrackSignals: `Some Internet browsers may be configured to send "Do Not Track" signals to the online services that you visit. We do not currently
      respond to do not track signals. To find out more about "Do Not Track," please visit`,
      security: `Fiserv employs appropriate measures, including advanced technology, to protect personal information collected online against unauthorized access,
      disclosure, alteration, or destruction. These measures may include, among others, encryption, physical access security, and other appropriate technologies.
      Fiserv reviews and enhances its security systems as necessary. However, no security safeguards are 100% secure and we cannot guarantee the security of your
      information.`,
      internationalTransfers: `Fiserv is headquartered in the United States and has service providers in other countries, and your personal information may be
      transferred to the United States or other locations outside of your state, province, country or other governmental jurisdiction where privacy laws may
      not be as protective as those in your jurisdiction.`,
      otherSitesAndServices: `The Portal may contain links to other websites and services. These links are not an endorsement, authorization or representation
      that we are affiliated with that third party. We do not exercise control over third party websites or services, and are not responsible for their actions.
      Other websites and services may follow different rules regarding the use or disclosure of the personal information you submit to them. We encourage you to
      read the privacy policies of the other websites you visit and services you use.`,
      weReserveTheRightToModify: `We reserve the right to modify this privacy policy at any time. We encourage you to periodically review this page for the latest
      information on our privacy practices. If we make material changes to this privacy policy, we will notify you by updating the date of this privacy policy and
      posting it on the Portal and in the app stores where our mobile applications are available for download. We may also provide notification of changes in another
      way that we believe is reasonably likely to reach you, such as via email (if you have an Account where we have your contact information) or another manner
      through the Portal.`,
      anyModificationsWillBeEffective: `Any modifications to this privacy policy will be effective upon our posting of the new terms and/or upon implementation of
      the new changes on the Portal (or as otherwise indicated at the time of posting). In all cases, your continued use of the Portal after the posting of any
      modified privacy policy indicates your acceptance of the terms of the modified privacy policy.`,
      contactUs:
        "If you have any questions about our privacy policy or practices, please contact us at",
    };
  },
};
</script>
