<template>
  <div class="text-left pa-lg-16 pa-md-16 pa-sm-8 px-3 py-6">
    <div class="text-center">
      <h2>Payee Terms and Conditions</h2>
      <h3>Payout Service</h3>
    </div>
    <div>
      <div>
        <p class="py-2"><b>CUSTOMER SERVICE CONTACT INFORMATION:</b></p>
      </div>
      <div class="address-grid">
        <div>Address :</div>
        <div>
          <p class="text-break">{{ address }}</p>
        </div>
        <div>Website :</div>
        <div>
          {{ siteName }}
        </div>
      </div>
    </div>
    <div>
      <p class="pt-6"><b>IMPORTANT NOTICES:</b></p>
    </div>
    <div>
      <p>{{ notice1 }}</p>
      <p>{{ notice2 }}</p>
    </div>
    <div class="text-left">
      <ul class="remove-bullets">
        <li>
          <span class="font-weight-bold py-1"
            >1. Terms and Conditions for the Payout Services</span
          >
          <div>
            <p class="py-1">
              {{ termsToReceiveFunds1 }}<b>PAYOUT</b>{{ termsToReceiveFunds2 }}
            </p>
            <p class="py-1">
              {{ byClickingIAgree1 }}<b>PAYEE</b>{{ byClickingIAgree2 }}
            </p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1">2. Definitions</span>
          <div>
            <ul class="solid-bullets">
              <li class="py-2">"<b>Account</b>" {{ accountDef }}</li>
              <li class="py-2">
                "<b>Automated Clearing House</b>" or "<b>ACH</b>" {{ ACHDef }}
              </li>
              <li class="py-2">"<b>Business Day</b>" {{ businessDayDef }}</li>
              <li class="py-2">
                "<b>Carat Payouts Website</b>" {{ caratPayoutWebDef }}
              </li>
              <li class="py-2">
                "<b>Card Associations</b>" {{ cardAssociationDef }}
              </li>
              <li class="py-2">"<b>Bank</b>" {{ bankDef }}</li>
              <li class="py-2">"<b>Fiserv</b>" {{ fiservDef }}</li>
              <li class="py-2">"<b>Money Network</b>" {{ moneyNetworkDef }}</li>
              <li class="py-2">
                "<b>Money Network Card</b>" {{ moneyNetworkCardDef }}
              </li>
              <li class="py-2">"<b>Nacha</b>" {{ nachaDef }}</li>
              <li class="py-2">"<b>Network</b>" {{ networkDef }}</li>
              <li class="py-2">"<b>Network Rules</b>" {{ networkRulesDef }}</li>
              <li class="py-2">
                "<b>Payout Service</b>" {{ payoutServiceDef }}
              </li>
              <li class="py-2">"<b>Sender</b>" {{ senderDef }}</li>
              <li class="py-2">
                "<b>Terms and Conditions</b>" {{ termsConditionsDef }}
              </li>
              <li class="py-2">
                "<b>You</b>", "<b>you</b>" and "<b>your</b>" {{ youYourDef }}
              </li>
              <li class="py-2">
                "<b>We</b>", "<b>we</b>" and "<b>us</b>" {{ weUsDef }}
              </li>
            </ul>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1">3. Payee Terms</span>
          <div>
            <p class="py-2">{{ byUsingThisPayoutService }}</p>
            <p>
              The Accounts into which you may receive a Payout include your:
            </p>
            <ul class="alpha-list">
              <li class="py-2">
                Bank account through your eligible debit card;
              </li>
              <li class="py-2">
                Bank account through bank to bank transfer (ACH); or
              </li>
              <li class="py-2">Money Network Card.</li>
            </ul>
            <p class="py-2">{{ ifYouChooseToReceivePayout }}</p>
            <p class="py-2">{{ applyForMoneyNetworkCard }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1"
            >4. Processing Payout Requests</span
          >
          <div>
            <p class="py-2">{{ completeRequestForPayout }}</p>
            <ul class="alpha-list">
              <li class="py-2">
                Bank account through your debit card or a load onto your Money
                Network Card: <b>Same Business Day</b>.
              </li>
              <li class="py-2">
                Bank account through bank to bank transfer (ACH):
                <b>3 Business Days</b>.
              </li>
            </ul>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1"
            >5. Payout Service Fees and Charges</span
          >
          <div>
            <p class="py-2">{{ responsibleForPayingFiservFees }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1"
            >6. Accuracy of Information, Liability and Rejection of a Money
            Payout Request</span
          >
          <div>
            <p class="py-2">{{ importanceOfAccurateInfo }}</p>
            <p class="py-1">{{ enteredInfoIncorrectly }}</p>
            <p class="py-1">{{ ifYouDoNotCompletePayout }}</p>
            <ul class="remove-bullets">
              <li class="py-2">
                (1) if the Sender has insufficient funds available in their
                account to complete the Payout;
              </li>
              <li class="py-2">
                (2) if access to your Account or Sender’s account has been
                blocked;
              </li>
              <li class="py-2">
                (3) if there is a hold on the Sender’s funds or the Sender’s
                funds are subject to legal process or other encumbrance
                restricting their use;
              </li>
              <li class="py-2">
                (4) if we have reason to believe the requested Payout is
                unauthorized;
              </li>
              <li class="py-2">
                (5) if circumstances beyond our control (such as fire, flood or
                computer or communication failure) prevent the completion of the
                Payout, despite reasonable precautions that we have taken;
              </li>
              <li class="py-2">
                (6) if the dollar value of one or more of the Sender’s Payout
                requests exceeds any of the stated transfer limits applicable to
                Sender;
              </li>
              <li class="py-2">
                (7) if your information or the Sender’s request is incomplete,
                erroreous or unclear;
              </li>
              <li class="py-2">
                (8) if we identify a security risk related to a requested
                Payout; or
              </li>
              <li class="py-2">
                (9) if we are unable to fulfill the Sender’s request for any
                other reason.
              </li>
            </ul>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1">7. Unclaimed Payouts</span>
          <div>
            <p class="py-2">{{ unclaimedPayouts }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1"
            >8. Location of Accounts; Currency of Funds Payout
          </span>
          <div>
            <p class="py-2">{{ payoutAvailibility }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1">9. Multiple Payees</span>
          <div>
            <p class="py-2">{{ multiplePayees }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1">10. Privacy Policy</span>
          <div>
            <p class="py-2">
              You acknowledge that you have received and read the Bank’s privacy
              policy as set forth
              <a
                href="https://www.metabank.com/Media/Default/policy/metabank-privacy-policy.pdf"
                >here</a
              >
              and you hereby confirm your consent to such disclosure.
            </p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1"
            >11. No Unlawful or Prohibited Use
          </span>
          <div>
            <p class="py-2">{{ noUnlawfulProhibitedUse }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1">12. Proprietary Rights</span>
          <div>
            <p class="py-2">{{ proprietaryRights }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1">13. Indemnity</span>
          <div>
            <p class="py-2">{{ indemnity }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1"
            >14. Claims; Limitation of Liability; No Warranty
          </span>
          <div>
            <p class="py-2">{{ liabilityLimitations }}</p>
            <p class="py-2">{{ warrantyDisclaimer }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1"
            >15. English language Controls
          </span>
          <div>
            <p class="py-2">{{ englishLanguageControls }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1"
            >16. Waiver of Right to Trial by Jury
          </span>
          <div>
            <p class="py-2">{{ juryTrialWaiver }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1">17. Governing Law </span>
          <div>
            <p class="py-2">{{ governingLaw }}</p>
          </div>
        </li>
        <li class="py-2">
          <span class="font-weight-bold py-1">18. Dispute Clause</span>
          <p>{{ disputeClause }}</p>
          <div>
            <div>
              <p class="py-2 text-center">
                <b>Background and Scope.</b>
              </p>
              <table class="background-scope-table">
                <thead>
                  <tr>
                    <th class="table-heading-text" scope="col">Question</th>
                    <th class="table-heading-text" scope="col">Short Answer</th>
                    <th class="table-heading-text" scope="col">
                      Further Detail
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">What is arbitration?</th>
                    <th scope="row">An alternative to court</th>
                    <td>
                      In arbitration, a third party arbitrator (“Arbitrator”)
                      solves Disputes in an informal hearing.
                    </td>
                  </tr>
                  <tr>
                    <th>Is it different from court and jury trials?</th>
                    <th>Yes</th>
                    <td>
                      The hearing is private. There is no jury. It is usually
                      less formal, faster and less expensive than a lawsuit.
                      Pre-hearing fact finding is limited. Appeals are limited.
                      Courts rarely overturn arbitration awards.
                    </td>
                  </tr>
                  <tr>
                    <th>Can you opt-out of this Dispute Clause?</th>
                    <th>Yes, within 60 days</th>
                    <td>
                      If you do not want this Dispute Clause to apply, you must
                      send us a signed notice within 60 calendar days after you
                      enroll for the Payout Service. You must send the notice in
                      writing (and not electronically) to our Notice Address,
                      Attn: General Counsel. Provide your name and address.
                      State that you “opt out” of the dispute clause.
                    </td>
                  </tr>
                  <tr>
                    <th>What is this Dispute Clause about?</th>
                    <th>The parties' agreement to arbitrate Disputes</th>
                    <td>
                      Unless prohibited by applicable law and unless you opt
                      out, you and we agree that you or we may elect to
                      arbitrate or require arbitration of any "Dispute" as
                      defined below.
                    </td>
                  </tr>
                  <tr>
                    <th>Who does the Dispute Clause cover?</th>
                    <th>You, us and certain "Related Parties"</th>
                    <td>
                      This Dispute Clause governs you and us. It also covers
                      certain "Related Parties": (1) our parents, subsidiaries
                      and affiliates; (2) our employees, directors, officers,
                      shareholders, members and representatives; and (3) any
                      person or company that is involved in a Dispute you pursue
                      at the same time you pursue a related Dispute with us.
                    </td>
                  </tr>
                  <tr>
                    <th>What Disputes does the Dispute Clause cover?</th>
                    <th>
                      All Disputes (except certain Disputes about this Dispute
                      Clause)
                    </th>
                    <td>
                      This Dispute Clause governs all “Disputes” that would
                      usually be decided in court and are between us (or any
                      Related Party) and you. In this Dispute Clause, the word
                      “Disputes” has the broadest reasonable meaning. It
                      includes all claims even indirectly related to these Terms
                      and Conditions. It includes claims related to the validity
                      in general of these Terms and Conditions. However, it does
                      not include disputes about the validity, coverage or scope
                      of this Dispute Clause or any part of this Dispute Clause.
                      (This includes a Dispute about the rule against class
                      arbitration.) All such disputes are for a court and not an
                      Arbitrator to decide.
                    </td>
                  </tr>
                  <tr>
                    <th>Who handles the arbitration?</th>
                    <th>Usually AAA or JAMS</th>
                    <td>
                      Arbitrations are conducted under this Dispute Clause and
                      the rules of the arbitration administrator in effect when
                      the arbitration is started. However, arbitration rules
                      that conflict with this Dispute Clause do not apply. The
                      arbitration administrator will be either: • The American
                      Arbitration Association ("AAA"), 1633 Broadway, 10th
                      Floor, New York, NY 10019,
                      <a href="www.adr.org">www.adr.org</a>. • JAMS, 620 Eighth
                      Avenue, 34th Floor, New York, NY 10018,
                      <a href="www.jamsadr.com">www.jamsadr.com</a> • Any other
                      company picked by agreement of the parties. If all the
                      above options are unavailable, a court will pick the
                      administrator. No arbitration may be administered without
                      our consent by any administrator that would permit a class
                      arbitration under this Dispute Clause. The arbitrator will
                      be selected under the administrator's rules. However, the
                      arbitrator must be a lawyer with at least ten years of
                      experience or a retired judge unless you and we otherwise
                      agree.
                    </td>
                  </tr>
                  <tr>
                    <th>Can Disputes be litigated?</th>
                    <th>Sometimes</th>
                    <td>
                      Either party may bring a lawsuit if the other party does
                      not demand arbitration. We will not demand arbitration of
                      any lawsuit you bring as an individual action in
                      small-claims court. However, we may demand arbitration of
                      any appeal of a small-claims decision or any small-claims
                      action brought on a class basis.
                    </td>
                  </tr>
                  <tr>
                    <th>Are you giving up any rights?</th>
                    <th>Yes</th>
                    <td>
                      For Disputes subject to this Dispute Clause, you give up
                      your right to: 1. Have juries decide Disputes. 2. Have
                      courts, other than small-claims courts, decide Disputes.
                      3. Serve as a private attorney general or in a
                      representative capacity. 4. Join a Dispute you have with a
                      dispute by other consumers. 5. Bring or be a class member
                      in a class action or class arbitration. We also give up
                      the right to a jury trial and to have courts decide
                      Disputes you wish to arbitrate.
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Can you or another consumer start a class arbitration?
                    </th>
                    <th>No</th>
                    <td>
                      The Arbitrator is not allowed to handle any Dispute on a
                      class or representative basis. All Disputes subject to
                      this Dispute Clause must be decided in an individual
                      arbitration or an individual small-claims action. This
                      Dispute Clause will be void if a court rules that the
                      Arbitrator can decide a Dispute on a class basis and the
                      court's ruling is not reversed on appeal.
                    </td>
                  </tr>
                  <tr>
                    <th>What law applies?</th>
                    <th>The Federal Arbitration Act (“FAA”)</th>
                    <td>
                      These Terms and Conditions and the Accounts involve
                      interstate commerce. Thus, the FAA governs this Dispute
                      Clause. The Arbitrator must apply substantive law
                      consistent with the FAA. The Arbitrator must honor
                      statutes of limitation and privilege rights. Punitive
                      damages are governed by the constitutional standards that
                      apply in judicial proceedings.
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Will anything I do make this Dispute Clause ineffective?
                    </th>
                    <th>No</th>
                    <td>
                      This Dispute Clause stays in force even if: (1) you or we
                      end these Terms and Conditions; or (2) we transfer or
                      assign our rights under these Terms and Conditions.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <p class="py-2 text-center">
                <b>Process.</b>
              </p>
              <table class="background-scope-table">
                <tbody>
                  <tr>
                    <th>
                      What must a party do before starting a lawsuit or
                      arbitration?
                    </th>
                    <th>
                      Send a written Dispute notice and work to resolve the
                      Dispute
                    </th>
                    <td>
                      Before starting a lawsuit or arbitration, the complaining
                      party must give the other party written notice of the
                      Dispute. The notice must explain in reasonable detail the
                      nature of the Dispute and any supporting facts. If you are
                      the complaining party, you must send the notice in writing
                      (and not electronically) to our Notice Address, Attn:
                      General Counsel. You or an attorney you have personally
                      hired must sign the notice and must provide a phone number
                      where you (or your attorney) can be reached. A letter from
                      us to you will serve as our written notice of a Dispute.
                      Once a Dispute notice is sent, the complaining party must
                      give the other party a reasonable opportunity over the
                      next 30 days to resolve the Dispute on an individual
                      basis.
                    </td>
                  </tr>
                  <tr>
                    <th>How does an arbitration start?</th>
                    <th>Mailing a notice</th>
                    <td>
                      If the parties do not reach an agreement to resolve the
                      Dispute within 30 days after notice of the Dispute is
                      received, the complaining party may commence a lawsuit or
                      an arbitration, subject to the terms of this Dispute
                      Clause. To start an arbitration, the complaining party
                      picks the administrator and follows the administrator's
                      rules. If one party begins or threatens a lawsuit, the
                      other party can demand arbitration. This demand can be
                      made in court papers. It can be made if a party begins a
                      lawsuit on an individual basis and then tries to pursue a
                      class action. Once an arbitration demand is made, no
                      lawsuit can be brought and any existing lawsuit must stop.
                    </td>
                  </tr>
                  <tr>
                    <th>Will any hearing be held nearby?</th>
                    <th>Yes</th>
                    <td>
                      The Arbitrator may decide that an in-person hearing is
                      unnecessary and that he or she can resolve a Dispute based
                      on written filings and/or a conference call. However, any
                      in-person arbitration hearing must be held at a place
                      reasonably convenient to you.
                    </td>
                  </tr>
                  <tr>
                    <th>What about appeals?</th>
                    <th>Very limited</th>
                    <td>
                      Appeal rights under the FAA are very limited. The
                      Arbitrator’s award will be final and binding. Any
                      appropriate court may enter judgment upon the arbitrator's
                      award.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <p class="py-2 text-center">
                <b>Arbitration Fees and Awards.</b>
              </p>
              <div>
                <table class="background-scope-table">
                  <tbody>
                    <tr>
                      <th>Who bears arbitration fees?</th>
                      <th>Usually, we do.</th>
                      <td>
                        We will pay all filing, administrative, hearing and
                        Arbitrator fees if you act in good faith, cannot get a
                        waiver of such fees and ask us to pay.
                      </td>
                    </tr>
                    <tr>
                      <th>When will we cover your legal fees and costs?</th>
                      <th>If you win</th>
                      <td>
                        If you win an arbitration, we will pay the reasonable
                        fees and costs for your attorneys, experts and
                        witnesses. We will also pay these amounts if required
                        under applicable law or the administrator's rules or if
                        payment is required to enforce this Dispute Clause. The
                        Arbitrator shall not limit his or her award of these
                        amounts because your Dispute is for a small amount.
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Will you ever owe us for arbitration or attorneys' fees?
                      </th>
                      <th>Only for bad faith</th>
                      <td>
                        The Arbitrator can require you to pay our fees if (and
                        only if): (1) the Arbitrator finds that you have acted
                        in bad faith (as measured by the standards set forth in
                        Federal Rule of Civil Procedure 11(b)); and (2) this
                        power does not make this Dispute Clause invalid.
                      </td>
                    </tr>
                    <tr>
                      <th>Can an award be explained?</th>
                      <th>Yes</th>
                      <td>
                        A party may request details from the Arbitrator, within
                        14 days of the ruling. Upon such request, the Arbitrator
                        will explain the ruling in writing.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      address:
        "First Data Merchant Services, LLC Attn: General Counsel 2900 Westside Parkway Alpharetta, GA 30004",
      siteName: "www.digitalpayouts.com",
      notice1: `(1) PLEASE READ CAREFULLY. THESE TERMS AND CONDITIONS CONTAIN AN ARBITRATION PROVISION (“DISPUTE CLAUSE” SECTION) REQUIRING ALL CLAIMS TO BE
        RESOLVED BY WAY OF BINDING ARBITRATION.`,
      notice2:
        "(2) IF YOU DO NOT AGREE TO THESE TERMS, DO NOT ACCEPT A PAYOUT.",
      termsToReceiveFunds1: `THESE ARE THE TERMS AND CONDITIONS UNDER WHICH YOU MAY RECEIVE FUNDS FROM A SENDER USING OUR PAYOUT SERVICE (EACH, A “`,
      termsToReceiveFunds2: `”) THESE TERMS AND CONDITIONS AFFECT YOUR RIGHTS AND YOU SHOULD READ THEM CAREFULLY.`,
      byClickingIAgree1: `BY CLICKING THE "I AGREE" BUTTON AND BY ‘COMPLETING THE INTERNET WEB FORM’, YOU AGREE TO THESE TERMS AND CONDITIONS. YOU REPRESENT
        THAT YOU ARE THE INDIVIDUAL DESIGNATED TO RECEIVE FUNDS (“`,
      byClickingIAgree2: `”) FROM A SENDER USING THE PAYOUT SERVICE. YOU UNDERSTAND THAT THE PERSONAL INFORMATION IN THESE TRANSACTIONS WILL BE TREATED
        CONFIDENTIALLY, BUT CONSENT TO THE DISCLOSURE OF PAYMENT RELATED INFORMATION THAT IS COMPELLED BY LAW OR NECESSARY TO PROTECT AGAINST FRAUD OR CRIME.
        YOU ALSO AGREE TO COMPLY WITH APPLICABLE STATE AND FEDERAL LAW AND REGULATIONS.`,
      accountDef: "means the account you designate to receive a Payout.",
      ACHDef:
        "means the electronic clearing and settlement system used for financial transactions by commercial banks and other institutions.",
      businessDayDef:
        "means any day that is not a Saturday, Sunday or bank holiday.",
      caratPayoutWebDef: `means the website operated by us through which you will initiate your Payout and found at the web address described
        in the Customer Service Contact Information at the beginning of these Terms and Conditions.`,
      cardAssociationDef: `means Star, NYCE, Pulse, Accel, Shazam, CU24, MasterCard, Visa and any other debit network that may be used from
        time to time to facilitate the Payout Service for card payouts.`,
      bankDef: `refers to MetaBank®, National Association, a federally chartered savings association, member FDIC, and its directors,
        officers, employees, agents and service providers, as sponsor of the Payout Service.`,
      fiservDef:
        "refers to First Data Merchant Services, LLC as processor of the Payout Service.",
      moneyNetworkDef: "means Money Network Financial, LLC.",
      moneyNetworkCardDef:
        "means a prepaid debit card issued by Bank with Money Network as its program manager.",
      nachaDef:
        "means the administrator of the ACH network that may be used from time to time to facilitate the Payout Service for ACH payouts.",
      networkDef:
        "means the funds transfer system, governed by Nacha or the Card Associations, which provides funds transfer services to participating financial institutions.",
      networkRulesDef:
        "means the operating rules and guidelines published by Nacha and the Card Associations, as in effect from time to time.",
      payoutServiceDef:
        "means the service performed by us under these Terms and Conditions to transfer funds to your Account.",
      senderDef:
        "means the person or company initiating your Payout using the Payout Service.",
      termsConditionsDef: "means these Payee Terms and Conditions.",
      youYourDef:
        "refers to the individual who agrees to these Terms and Conditions as described above.",
      weUsDef: "unless otherwise specified, refer to Bank and Fiserv.",
      byUsingThisPayoutService: `By using this Payout Service you as the Payee are confirming that you are the person to whom the Sender intends to transfer funds as a Payout.
        As the Payee, you will be asked to choose an Account into which you would like to receive your Payout.`,
      ifYouChooseToReceivePayout: `If you choose to receive a Payout to your bank account through your debit card, you will be asked to provide debit card information
        that will be used to transfer funds to your Account through a Card Association. If you choose to receive a Payout to your bank account through a bank to bank
        transfer (ACH), you will be asked to provide your bank account number and the routing information for your financial institution that will be used to transfer
        funds to your Account through the Automated Clearing House. If you choose to receive a Payout on your Money Network Card, you will be asked to provide your Money
        Network Card number and other verifying information from the card that will be used to transfer funds to your prepaid debit Money Network Card.`,
      applyForMoneyNetworkCard:
        "If you would like to apply for a Money Network Card, please refer to the relevant link in the Carat Payouts Website.",
      completeRequestForPayout: `You understand and agree that when you complete a request for a Payout of funds to your Account that it can take up to several Business
        Days for the funds to be transferred into your Account. However, the amount of time required for a Payout to be credited to your Account is related to the method
        of Payout you select. We will make reasonable efforts to credit your Account within the following times after you have delivered the information requested for
        the following types of Payout:`,
      responsibleForPayingFiservFees: `You understand and agree that you are responsible for paying Fiserv the fees associated with the receipt of a Payout. You authorize
        Fiserv to debit the amount of any fees owing from your use of the Payout Service from the amount of the Payout you elect to receive in the amount presented to you on
        the Carat Payouts Website.`,
      importanceOfAccurateInfo: `It is important that you enter accurate information. You agree that we may rely solely on the instructions you provide. If you enter
        inaccurate Account information the funds may be deposited into another person’s Account. You acknowledge that your financial institution may make the deposit
        based on the Account or card numbers you provide even if those numbers do not correlate to the name that you provide. You may lose all of the funds that were
        transferred. The funds that are credited to the Account or card number you provide cannot be recalled by us. Retrieval of misdirected funds is your responsibility.`,
      enteredInfoIncorrectly: `If you suspect that you have entered information incorrectly or that you have received funds in error, call the number in the text
        message or electronic mail that you received notifying you of the Payout, and we may attempt to cancel the Payout. We have no obligation to cancel the
        Payout or to reimburse funds that were transferred according to your instructions.`,
      ifYouDoNotCompletePayout: `If we do not complete a Payout to your Account or make an error in completing such Payout, we will be liable for your losses and
        damages proximately caused by us. However, there are some exceptions. We will not be liable, for instance:`,
      unclaimedPayouts: `If you do not provide your Account details to us for a Payout within the time set by the Sender and notified to you by us or the Sender,
        you will no longer have the option to receive the Payout through the Carat Payouts Website. To receive any amount owed to you by the Sender, you must arrange
        for the Sender to initiate another Payout or pay the amount to you in another way. You understand and acknowledge that we will not be liable for any loss you
        may suffer in connection with your failure to claim a Payout`,
      payoutAvailibility:
        "A Payout is available to Accounts in the United States only and is to be made in U.S. dollars only.",
      multiplePayees: `If a Sender issues a single Payout to more than one Payee, the Carat Payouts Website will provide the ability to each Payee to confirm the
        Account into which the Payout will be transferred. We will not complete the Payout until all of the Payees have agreed on the Account to which the Payout
        will be transferred. You understand and acknowledge that we will not be liable for any loss you may suffer if you have agreed that a Payout should be
        transferred to another Payee.`,
      noUnlawfulProhibitedUse: `As a condition of receiving a Payout, you represent and warrant to us that you will not use the funds that you receive for any
        purpose that is unlawful or is not permitted, expressly or implicitly, by these Terms and Conditions or by any applicable law or regulation. You further
        represent and warrant that you will not use the Payout Service provided by us in any manner that could damage, disable, overburden, or impair these
        services or interfere with any other party's use and enjoyment of such service. You may not obtain or attempt to obtain any materials or information
        through any means not intentionally made available or provided to you through the Payout. You agree that these warranties and representations made by you
        will remain in full force and effect even if these Terms and Conditions terminate for any reason.`,
      proprietaryRights: `You acknowledge and agree that Bank and parties with whom it has contracted own all rights in and to the Payout Service. You are permitted
        to use the Payout Service only as expressly authorized by these Terms and Conditions. You may not copy, reproduce, distribute, or create derivative works,
        reverse engineer or reverse compile the technology for the Payout Service or any other services or technology used in connection with the Payout Service.`,
      indemnity: `In consideration of our agreement to act upon your request to make the Payout Service available to you in the manner provided in these Terms and
        Conditions, you agree to indemnify and hold Bank, Fiserv or any other of their respective affiliates, agents or service providers harmless from and against
        any and all claims, suits, judgments, executions, liabilities, losses, damages, costs, and expenses, including reasonable attorney's fees, in connection with
        or arising out of Bank or Fiserv or any other of their respective affiliates, agents or service providers acting upon instructions or information from you in
        connection with these Terms and Conditions, including, but not limited to the receipt of a Payout. This indemnity shall not be effective to relieve and
        indemnify Bank or Fiserv against its gross negligence, bad faith, or willful misconduct or other losses that are the responsibility of Bank or Fiserv under
        applicable law.`,
      liabilityLimitations: `YOU AGREE THAT BANK, FISERV OR ANY OTHER OF THEIR RESPECTIVE AFFILIATES, AGENTS OR SERVICE PROVIDERS, UNLESS REQUIRED BY LAW, SHALL
        NOT BE LIABLE FOR ANY COSTS, FEES, LOSSES OR DAMAGES OF ANY KIND INCURRED AS A RESULT OF: (1) ANY INACCURATE OR INCOMPLETE INFORMATION PROVIDED BY A SENDER,
        YOU, AN AUTHORIZED USER OF YOUR ACCOUNT OR ANOTHER FINANCIAL INSTITUTION IN CONNECTION WITH EXECUTING A SENDER’S TRANSFER REQUEST TO YOUR ACCOUNT; (2)
        ANY CHARGES IMPOSED BY ANOTHER FINANCIAL INSTITUTION IN CONNECTION WITH THE PAYOUT SERVICES; AND (3) ANY TRANSFER LIMITATIONS SET BY ANOTHER FINANCIAL
        INSTITUTION HOLDING AN ACCOUNT INTO WHICH YOU HAVE RECEIVED A TRANSFER OR FROM WHICH A TRANSFER TO YOUR ACCOUNT HAS BEEN REQUESTED. IN NO EVENT SHALL BANK,
        FISERV OR ANY OTHER OF THEIR RESPECTIVE AFFILIATES, AGENTS OR SERVICE PROVIDERS BE RESPONSIBLE FOR ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES OR EXPENSES
        ARISING IN CONNECTION WITH YOUR USE OF THE PAYOUT SERVICES.`,
      warrantyDisclaimer: `EXCEPT AS MAY BE EXPRESSLY SET FORTH IN THESE TERMS AND CONDITIONS, BANK, FISERV OR ANY OTHER OF THEIR RESPECTIVE AFFILIATES, AGENTS
        OR SERVICE PROVIDERS AND THEIR DIRECTORS, OFFICERS AND EMPLOYEES HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING WITHOUT
        LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT OF INTELLECTUAL PROPERTY OR THIRD PARTY RIGHTS. BANK,
        FISERV OR ANY OTHER OF THEIR RESPECTIVE AFFILIATES, AGENTS OR SERVICE PROVIDERS MAKE NO WARRANTY OR REPRESENTATION REGARDING THE RESULTS THAT MAY BE
        OBTAINED FROM THE USE OF THE PAYOUT SERVICE OR THE CARAT PAYOUTS WEBSITE IN CONJUNCTION WITH THE USE OF THE PAYOUT SERVICE, THE ACCURACY OR RELIABILITY
        OF ANY INFORMATION OBTAINED THROUGH THE PAYOUT SERVICE OR THE CARAT PAYOUTS WEBSITE, THE ACCURACY OF ANY INFORMATION RETRIEVED BY US FROM ANY FINANCIAL
        INSTITUTION HOLDING AN ACCOUNT INTO WHICH YOU HAVE RECEIVED A TRANSFER OR THAT THE PAYOUT SERVICE OR THE CARAT PAYOUTS WEBSITE WILL MEET ANY REQUIREMENTS
        OF ANY USER, BE UNINTERRUPTED, TIMELY, SECURE OR ERROR FREE.`,
      englishLanguageControls: `Translations of these Terms and Conditions that may have been provided are for your convenience only and may not accurately
        reflect the original English meaning. The meanings of terms, conditions, and representations herein are subject to definitions and interpretations in the
        English language.`,
      juryTrialWaiver: `YOU AND WE ACKNOWLEDGE THAT THE RIGHT TO TRIAL BY JURY IS A CONSTITUTIONAL RIGHT BUT MAY BE WAIVED IN CERTAIN CIRCUMSTANCES. TO THE EXTENT
        PERMITTED BY LAW, YOU AND WE KNOWINGLY AND VOLUNTARILY WAIVE ANY RIGHT TO TRIAL BY JURY IN THE EVENT OF LITIGATION ARISING OUT OF OR RELATED TO THESE TERMS
        AND CONDITIONS. THIS JURY TRIAL WAIVER SHALL NOT AFFECT OR BE INTERPRETED AS MODIFYING IN ANY FASHION THE DISPUTE CLAUSE SET FORTH IN THE FOLLOWING SECTION,
        IF APPLICABLE, WHICH CONTAINS ITS OWN SEPARATE JURY TRIAL WAIVER.`,
      governingLaw:
        "These Terms and Conditions shall be governed by the internal laws, and not by the laws regarding conflicts of laws, of the State of South Dakota.",
      disputeClause: `We have put this Dispute Clause in question and answer form to make it easier to follow. However, this Dispute Clause is part of these 
        Terms and Conditions and is legally binding.`,
    };
  },
};
</script>
<style scoped>
.background-scope-table {
  margin-bottom: 1rem;
  text-align: left;
  color: #212529;
  border-collapse: collapse;
}
.background-scope-table tr,
th,
td {
  border: 1px solid #dee2e6;
  padding: 0.3rem;
  vertical-align: top;
}
.alpha-list {
  list-style-type: lower-alpha;
  padding-left: 2.5rem;
}
.remove-bullets {
  list-style-type: none;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 0;
}

.table-heading-text {
  color: #757575;
  font-size: 0.9rem;
}
.solid-bullets {
  list-style-type: disc;
}
.address-grid {
  display: grid;
  grid-template-columns: 8rem 12rem;
  padding-right: 1rem;
}
</style>
