<template>
  <div class="my-8 my-sm-12 px-3 px-sm-16">
    <v-row no-gutters>
      <v-col cols="12" md="3" class="d-flex align-center">
        <dashboard-greeting />
      </v-col>

      <v-col
        cols="12"
        md="3"
        class="px-md-3 py-1 pt-10 py-md-0"
        data-test="available-payouts-tile"
      >
        <dashboard-payout-tile
          :icon="mdiCashCheck"
          :title="$t('dashboardTile.availablePayouts')"
          :data="totalAvailablePayouts"
          :loading="availablePayouts.loading"
        />
      </v-col>

      <v-col
        cols="12"
        md="3"
        class="px-md-3 py-1 py-md-0"
        data-test="current-payouts-tile"
      >
        <dashboard-payout-tile
          :icon="mdiAccountCash"
          :title="$t('dashboardTile.currentPayoutAmount')"
          :loading="availablePayouts.loading"
          :display-accept-action="currentPayoutAmount > 0"
          :data="currentPayoutAmount | currency('USD')"
        />
      </v-col>
      <v-col
        cols="12"
        md="3"
        class="px-md-3 py-1 py-md-0"
        data-test="total-money-received-tile"
      >
        <dashboard-payout-tile
          :icon="mdiCashRegister"
          :title="$t('dashboardTile.totalMoneyReceived')"
          :loading="totalPayoutAmountsByMerchant.loading"
          :data="totalMoneyReceived | currency('USD')"
        />
      </v-col>
    </v-row>

    <v-row class="my-4" no-gutters>
      <v-col cols="12" md="7" class="pr-md-10 my-10">
        <dashboard-payouts-list
          :payouts="availablePayouts.data"
          :loading="availablePayouts.loading"
        />

        <recent-activities />
      </v-col>

      <v-col cols="12" md="5" class="pl-md-10 my-10">
        <payout-by-merchant
          v-if="totalPayoutAmountsByMerchant.data.length"
          :totals="totalPayoutAmountsByMerchant.data"
          class="mb-12"
        />

        <payment-methods
          :payment-methods="paymentMethods.data"
          :loading="paymentMethods.loading"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import DashboardGreeting from "@/components/dashboard/DashboardGreeting";
import DashboardPayoutsList from "@/components/dashboard/payouts-list/DashboardPayoutsList";
import PaymentMethods from "@/components/payment-methods/PaymentMethods";
import RecentActivities from "@/components/dashboard/activities/RecentActivities";
import DashboardPayoutTile from "../components/dashboard/DashboardPayoutTile";
import {
  FETCH_AVAILABLE_PAYOUTS,
  FETCH_PAYMENT_METHODS,
  FETCH_TOTAL_PAYOUT_AMOUNTS_BY_MERCHANT,
} from "@/store/action-types";
import { PUSH_APP_ERROR, SET_SPLIT_BACKGROUND } from "@/store/mutation-types";
import { mapMutations } from "vuex";
import PayoutByMerchant from "@/components/payouts-by-merchant/PayoutByMerchant";
import { mdiCashCheck, mdiAccountCash, mdiCashRegister } from "@mdi/js";

export default {
  name: "Dashboard",

  components: {
    DashboardPayoutsList,
    DashboardGreeting,
    PaymentMethods,
    RecentActivities,
    DashboardPayoutTile,
    PayoutByMerchant,
  },

  data() {
    return {
      mdiCashCheck,
      mdiAccountCash,
      mdiCashRegister,
      availablePayouts: {
        data: [],
        loading: false,
      },
      totalPayoutAmountsByMerchant: {
        data: [],
        loading: false,
      },
      paymentMethods: {
        data: [],
        loading: false,
      },
    };
  },

  computed: {
    totalAvailablePayouts() {
      return this.availablePayouts.data
        ? this.availablePayouts.data.length.toString()
        : "0";
    },
    currentPayoutAmount() {
      const payoutAmount =
        this.availablePayouts.data &&
        this.availablePayouts.data.reduce(
          (sum, item) => sum + item.totalTransactionAmount.total,
          0
        );

      return payoutAmount || 0;
    },
    totalMoneyReceived() {
      const totalMoney =
        this.totalPayoutAmountsByMerchant.data &&
        this.totalPayoutAmountsByMerchant.data.reduce(
          (sum, item) => sum + item.totalPayoutsAmount.total,
          0
        );

      return totalMoney || 0;
    },
  },

  created() {
    this.fetchAvailablePayouts();
    this.fetchTotalPayoutAmountsByMerchant();
    this.fetchPaymentMethods();
  },

  mounted() {
    this.setSplitBackground(true);
  },

  destroyed() {
    this.setSplitBackground(false);
  },

  methods: {
    ...mapMutations({
      setSplitBackground: SET_SPLIT_BACKGROUND,
      pushAppError: PUSH_APP_ERROR,
    }),

    fetchAvailablePayouts() {
      this.availablePayouts.loading = true;

      this.$store
        .dispatch(FETCH_AVAILABLE_PAYOUTS)
        .then((data) => (this.availablePayouts.data = data.transactions))
        .catch(() =>
          this.pushAppError(
            this.$t("dashboard.availablePayoutsList.networkError")
          )
        )
        .finally(() => (this.availablePayouts.loading = false));
    },

    fetchTotalPayoutAmountsByMerchant() {
      this.totalPayoutAmountsByMerchant.loading = true;

      this.$store
        .dispatch(FETCH_TOTAL_PAYOUT_AMOUNTS_BY_MERCHANT)
        .then((data) => (this.totalPayoutAmountsByMerchant.data = data))
        .catch(() =>
          this.pushAppError(this.$t("dashboard.payoutsByMerchant.networkError"))
        )
        .finally(() => (this.totalPayoutAmountsByMerchant.loading = false));
    },

    fetchPaymentMethods() {
      this.paymentMethods.loading = true;

      this.$store
        .dispatch(FETCH_PAYMENT_METHODS)
        .then((paymentMethods) => (this.paymentMethods.data = paymentMethods))
        .catch(() =>
          this.pushAppError(this.$t("dashboard.paymentMethods.networkError"))
        )
        .finally(() => (this.paymentMethods.loading = false));
    },
  },
};
</script>
