<template>
  <div class="d-flex flex-column justify-center align-center my-16">
    <not-found-svg class="svg" />

    <div class="text-h1">404</div>

    <div class="text-h2">{{ $t("notFound.pageNotFound") }}</div>

    <div class="mt-12">
      <v-btn
        v-if="isAuthenticated"
        tile
        elevation="0"
        color="primary"
        data-test="dashboard-button"
        :to="{ name: 'dashboard' }"
      >
        {{ $t("notFound.returnToDashboard") }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import NotFoundSvg from "@/assets/img/not_found.svg";

export default {
  name: "NotFound",

  components: { NotFoundSvg },

  computed: {
    ...mapGetters(["isAuthenticated"]),
  },
};
</script>

<style scoped>
.svg {
  width: 14rem;
}

.svg > * {
  fill: #cccccc;
}
</style>
