<template>
  <v-row no-gutters class="h-full">
    <v-col cols="12" md="7" class="py-8 py-sm-12 px-3 px-sm-16">
      <payouts-list-view :init-active="initActive" />
    </v-col>

    <v-col cols="12" md="5" class="py-8 py-sm-12 px-3 px-sm-16">
      <payment-methods
        :payment-methods="paymentMethods.data"
        :loading="paymentMethods.loading"
      />
    </v-col>
  </v-row>
</template>

<script>
import PayoutsListView from "@/components/payouts/PayoutsListView";
import { mapMutations } from "vuex";
import { PUSH_APP_ERROR, SET_SPLIT_BACKGROUND } from "@/store/mutation-types";
import PaymentMethods from "@/components/payment-methods/PaymentMethods";
import { FETCH_PAYMENT_METHODS } from "@/store/action-types";

export default {
  name: "Payouts",

  components: {
    PayoutsListView,
    PaymentMethods,
  },

  props: {
    initActive: { type: String, default: "available" },
  },

  data() {
    return {
      paymentMethods: {
        data: [],
        loading: false,
      },
    };
  },

  mounted() {
    this.setSplitBackground(true);
  },

  created() {
    this.fetchPaymentMethods();
  },

  destroyed() {
    this.setSplitBackground(false);
  },

  methods: {
    ...mapMutations({
      setSplitBackground: SET_SPLIT_BACKGROUND,
      pushAppError: PUSH_APP_ERROR,
    }),

    fetchPaymentMethods() {
      this.paymentMethods.loading = true;

      this.$store
        .dispatch(FETCH_PAYMENT_METHODS)
        .then((paymentMethods) => (this.paymentMethods.data = paymentMethods))
        .catch(() =>
          this.pushAppError(this.$t("dashboard.paymentMethods.networkError"))
        )
        .finally(() => (this.paymentMethods.loading = false));
    },
  },
};
</script>
