<template>
  <div class="px-sm-16 px-3 mb-6">
    <div class="text-h3 mt-md-12 mt-4">{{ $t("profile.title") }}</div>
    <v-row class="d-flex justify-space-between mt-md-12 mt-4">
      <v-col cols="12" md="6">
        <primary-contact
          data-test="primary-contact"
          :user="user.data"
          :loading="user.loading"
        />
      </v-col>
      <v-col cols="12" md="5">
        <email-settings
          :user="user.data"
          :loading="user.loading"
          data-test="email-settings"
        />
      </v-col>
    </v-row>

    <div class="text-h3 mt-md-12 mt-6">
      {{ $t("profile.mySettings.title") }}
    </div>
    <v-row class="d-flex justify-space-between mt-7">
      <v-col cols="12" md="6">
        <password-settings
          data-test="password-settings"
          :user="user.data"
          :loading="user.loading"
        />
      </v-col>
      <v-col cols="12" md="5">
        <alert-preferences
          data-test="alert-preferences"
          :user="user.data"
          :loading="user.loading"
        />
      </v-col>
    </v-row>
  </div>
</template>
<script>
import PrimaryContact from "@/components/profile-settings/PrimaryContact.vue";
import PasswordSettings from "@/components/profile-settings/PasswordSettings.vue";
import EmailSettings from "@/components/profile-settings/EmailSettings.vue";
import AlertPreferences from "@/components/profile-settings/AlertPreferences.vue";
import { FETCH_USER_SETTINGS } from "@/store/action-types";
import { mapMutations } from "vuex";
import { PUSH_APP_ERROR } from "@/store/mutation-types";
export default {
  name: "Profile",

  components: {
    PrimaryContact,
    PasswordSettings,
    EmailSettings,
    AlertPreferences,
  },

  data() {
    return {
      user: {
        data: {
          address: {},
          emailAddress: {},
          phoneNumber: {},
        },
        loading: false,
      },
      error: null,
    };
  },

  created() {
    this.fetchUserSettings();
  },

  methods: {
    ...mapMutations({ pushAppError: PUSH_APP_ERROR }),

    fetchUserSettings() {
      this.user.loading = true;

      this.$store
        .dispatch(FETCH_USER_SETTINGS)
        .then((user) => (this.user.data = user))
        .catch(() =>
          this.pushAppError(this.$t("profile.profileInfo.networkError"))
        )
        .finally(() => (this.user.loading = false));
    },
  },
};
</script>
