<template>
  <div class="brand-logo d-flex align-center">
    <img
      :src="require(`@/assets/img/${groupName}_logo.png`)"
      class="max-w-full"
      :alt="displayName"
    />
  </div>
</template>

<script>
export default {
  name: "BrandLogo",

  props: {
    groupName: { type: String, required: true },
    displayName: { type: String, required: true },
  },
};
</script>
