<template>
  <v-dialog
    v-model="show"
    transition="slide-x-reverse-transition"
    hide-overlay
    persistent
    fullscreen
    content-class="dialog-display-right"
  >
    <template #activator="{ on, attrs }">
      <div v-bind="attrs" data-test="dialog-trigger" v-on="on">
        <slot name="trigger" />
      </div>
    </template>

    <v-card>
      <v-card-title>
        <div class="font-weight-bold" data-test="dialog-title">{{ title }}</div>

        <v-spacer />

        <v-btn
          color="primary"
          text
          icon
          data-test="dialog-close"
          @click="close"
        >
          <v-icon color="primary" size="30">{{ mdiClose }}</v-icon>
        </v-btn>
      </v-card-title>

      <v-divider class="mx-6 mt-4" />

      <v-card-text>
        <slot />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mdiClose } from "@mdi/js";

export default {
  name: "DialogPanel",

  props: {
    title: {
      type: String,
      required: true,
    },
    value: {
      type: Boolean,
      default: false,
    },
    onClose: {
      type: Function,
      default: () => {},
    },
  },

  data() {
    return {
      mdiClose,
    };
  },

  computed: {
    show: {
      get() {
        return this.value;
      },

      set(val) {
        this.$emit("input", val);
      },
    },
  },

  methods: {
    close() {
      this.show = false;
      this.onClose();
    },
  },
};
</script>

<style>
/* This is to override the full width dialog styles*/
.dialog-display-right {
  position: relative !important;
  margin-left: auto !important;
  width: 600px !important ;
}
</style>
