<template>
  <div
    class="d-flex justify-center align-center"
    :class="{
      backdrop: backdrop,
      'pa-0': noPadding,
      'pa-2': !noPadding,
    }"
    :style="style"
    data-test="merchant-logo-container"
  >
    <component :is="svg" v-if="svg" data-test="merchant-logo-svg" />

    <v-icon
      v-else
      :size="size"
      :color="backdrop ? 'white' : 'secondary'"
      data-test="merchant-logo-fallback"
      >{{ mdiStorefrontOutline }}</v-icon
    >
  </div>
</template>

<script>
import { mapState } from "vuex";
import { mdiStorefrontOutline } from "@mdi/js";

export default {
  name: "MerchantLogo",

  props: {
    merchant: { type: String, required: true },
    size: { type: String, default: "1rem" },
    backdrop: { type: Boolean, default: false },
    noPadding: { type: Boolean, default: false },
  },

  data() {
    return {
      mdiStorefrontOutline,
    };
  },

  computed: {
    ...mapState({
      merchants: (state) => state.merchant.merchants,
    }),

    color() {
      if (!this.svg) {
        return this.$vuetify.theme.themes.light.secondary;
      }

      const merchant = this.merchants[this.merchant];
      return merchant ? merchant.color : "#ffffff";
    },

    svg() {
      try {
        return require(`@/assets/img/merchants/${this.merchant}.svg`);
      } catch (_) {
        return false;
      }
    },

    style() {
      return {
        "--fill": this.backdrop ? "#ffffff" : this.color,
        "--backdrop": this.color,
        width: this.size,
        height: this.size,
        "min-width": this.size,
      };
    },
  },
};
</script>

<style scoped>
svg > * {
  fill: var(--fill);
}

.backdrop {
  background-color: var(--backdrop);
}
</style>
