<template>
  <v-alert
    v-model="showError"
    type="error"
    text
    outlined
    prominent
    dismissible
    data-test="the-error-alert"
  >
    <ul>
      <li
        v-for="(err, idx) in appError.values"
        :key="idx"
        data-test="the-error-alert-list-item"
      >
        {{ err }}
      </li>
    </ul>
  </v-alert>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import { CLEAR_APP_ERRORS } from "@/store/mutation-types";

export default {
  name: "TheErrorAlert",

  computed: {
    ...mapState({
      appError: (state) => state.app.error,
    }),

    showError: {
      get() {
        return this.appError.show;
      },

      set() {
        this.clearAppErrors();
      },
    },
  },

  methods: {
    ...mapMutations({ clearAppErrors: CLEAR_APP_ERRORS }),
  },
};
</script>
