<template>
  <v-footer color="white" padless class="main-footer black--text">
    <v-container>
      <v-row>
        <v-col cols="6" class="mt-5">
          <div class="text-h4 mb-4">{{ $t("footer.faqs.label") }}</div>
          <ul class="mb-4 pl-0">
            <li>
              <a href="#"> {{ $t("footer.faqs.acceptPayout") }}</a>
            </li>
            <li>
              <a href="#"> {{ $t("footer.faqs.savingMethod") }}</a>
            </li>
            <li>
              <a href="#"> {{ $t("footer.faqs.cancelPayout") }}</a>
            </li>
            <li>
              <a href="#"> {{ $t("footer.faqs.resolveDispute") }}</a>
            </li>
          </ul>
        </v-col>
        <v-col cols="6" class="mt-5">
          <ul class="mb-4 pl-0">
            <li>
              <router-link
                class="text-decoration-none"
                :to="{ name: 'privacy-policy' }"
                data-test="link-to-privacy-policy"
                target="_blank"
              >
                {{ $t("footer.support.privacyPolicy") }}
              </router-link>
            </li>
            <li>
              <router-link
                class="text-decoration-none"
                :to="{ name: 'terms' }"
                data-test="link-to-terms-conditions"
                target="_blank"
              >
                {{ $t("footer.support.terms") }}
              </router-link>
            </li>
          </ul>
        </v-col>
      </v-row>
      <!-- pb-15 pb-sm-0 is used to show the text in xs which is hidden behind the fixed mobile nav bar     -->
      <v-row class="mt-0 pb-15 pb-sm-0">
        <v-col class="text-right" data-test="watermark">
          © {{ new Date().getFullYear() }} {{ $t("footer.copyright") }}
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  name: "TheFooter",
};
</script>
<style scoped>
.main-footer ul {
  list-style-type: none;
}

.main-footer li {
  margin-bottom: 8px;
}
.main-footer ul li a {
  text-decoration: none;
}
</style>
