<template>
  <div class="hidden-sm-and-up">
    <v-footer
      fixed
      padless
      color="white"
      height="60rem"
      class="mobile-bottom-nav-border"
    >
      <div class="d-flex row align-center justify-space-around px-12">
        <v-btn
          icon
          active-class="no-background"
          :to="{ name: 'dashboard' }"
          @click="backToTop"
        >
          <v-icon
            :color="$route.name === 'dashboard' ? 'accent' : 'primary'"
            data-test="mobile-nav-bar-home"
          >
            {{ mdiHomeOutline }}
          </v-icon>
        </v-btn>

        <v-btn icon active-class="no-background" :to="{ name: 'payouts' }">
          <v-icon
            :color="$route.name === 'payouts' ? 'accent' : 'primary'"
            data-test="mobile-nav-bar-payouts"
          >
            {{ mdiCashMultiple }}
          </v-icon>
        </v-btn>

        <div class="px-4">
          <the-user-menu />
        </div>
      </div>
    </v-footer>
  </div>
</template>

<script>
import TheUserMenu from "./TheUserMenu.vue";
import { mdiHomeOutline, mdiCashMultiple } from "@mdi/js";

export default {
  name: "TheMobileBottomNavBar",

  components: { TheUserMenu },

  data() {
    return {
      mdiHomeOutline,
      mdiCashMultiple,
    };
  },

  methods: {
    backToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style scoped>
/*added important to override the primary white color*/
.mobile-bottom-nav-border {
  border-top: 1px solid #f1f1f1 !important;
}
/*make the background color of button to none (by default button rendering with the shadow background)*/
.v-btn:before {
  background: none !important;
}
</style>
