<template>
  <v-app-bar class="px-sm-12" app color="white" height="100px" elevation="0">
    <div class="text-h3 font-weight-regular narrow-letter-spacing accent--text">
      Carat
    </div>

    <v-tabs
      v-if="isAuthenticated"
      v-model="activeTab"
      class="hidden-xs-only ml-10"
      color="primary"
      optional
    >
      <v-tab to="/" :ripple="false">
        <v-icon color="primary"> {{ mdiHomeOutline }} </v-icon>
        <div class="ml-2 primary--text">
          {{ $t("navbar.dashboard") }}
        </div>
      </v-tab>
      <v-tab to="/payouts" :ripple="false">
        <v-icon class="ml-3" color="primary"> {{ mdiCashMultiple }} </v-icon>
        <div class="ml-2 primary--text">
          {{ $t("navbar.payouts") }}
        </div>
      </v-tab>
    </v-tabs>

    <div class="hidden-xs-only">
      <the-user-menu v-if="isAuthenticated" />
    </div>
  </v-app-bar>
</template>

<script>
import { mapGetters } from "vuex";
import TheUserMenu from "./TheUserMenu.vue";
import { mdiHomeOutline, mdiCashMultiple } from "@mdi/js";

export default {
  name: "TheNavBar",

  components: { TheUserMenu },

  data() {
    return {
      mdiHomeOutline,
      mdiCashMultiple,
      activeTab: this.$route.path,
    };
  },

  computed: {
    ...mapGetters(["isAuthenticated"]),
  },
};
</script>

<style scoped>
.v-tab::before {
  background-color: white;
}
.narrow-letter-spacing {
  letter-spacing: -0.125rem !important;
}
</style>

<style>
.v-tabs-slider-wrapper {
  bottom: auto !important;
  top: 28px;
}
</style>
