<template>
  <v-menu
    offset-y
    tile
    :bottom="$vuetify.breakpoint.smAndUp"
    :nudge-bottom="$vuetify.breakpoint.smAndUp ? 10 : 0"
    :top="$vuetify.breakpoint.xsOnly"
    :nudge-top="$vuetify.breakpoint.xsOnly ? 15 : 0"
  >
    <template #activator="{ attrs, on }">
      <div v-if="$vuetify.breakpoint.smAndUp">
        <div class="d-flex align-center" v-bind="attrs" v-on="on">
          <v-sheet
            class="d-flex align-center justify-center clipped-corner white--text font-weight-bold"
            height="32"
            width="32"
            :color="$route.name === 'profile' ? 'accent' : 'primary'"
            data-test="nav-bar-clipped-square"
          >
            <v-icon
              class="icon-offset"
              color="white"
              data-test="nav-bar-profile-icon"
            >
              {{ mdiAccount }}
            </v-icon>
          </v-sheet>
          <v-icon size="24" color="primary"> {{ mdiChevronDown }} </v-icon>
        </div>
      </div>

      <div v-else>
        <div
          class="d-flex align-center"
          v-bind="attrs"
          data-test="mobile-nav-bar-profile-icon"
          v-on="on"
        >
          <v-icon :color="$route.name === 'profile' ? 'accent' : 'primary'">
            {{ mdiAccountOutline }}
          </v-icon>
        </div>
      </div>
    </template>

    <v-list>
      <v-list-item v-for="(item, index) in items" :key="index">
        <v-list-item-title>
          <v-btn plain :to="item.destination">
            <v-icon class="mr-2" color="primary">{{ item.icon }}</v-icon>
            <span class="primary--text">{{ $t(item.title) }}</span>
          </v-btn>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import {
  mdiAccount,
  mdiChevronDown,
  mdiAccountOutline,
  mdiCogOutline,
  mdiLogout,
} from "@mdi/js";

export default {
  name: "TheUserMenu",

  data: () => ({
    mdiAccount,
    mdiChevronDown,
    mdiAccountOutline,
    showMenu: false,
    items: [
      {
        icon: mdiCogOutline,
        title: "navbar.profileSettings",
        destination: { name: "profile" },
      },
      { icon: mdiLogout, title: "navbar.logout" },
    ],
  }),
};
</script>
<style scoped>
.clipped-corner {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 50%, 50% 0);
}

.icon-offset {
  margin: 4px 4px 0 0;
}
</style>
