<template>
  <div v-if="loading" data-test="tile-loading">
    <v-skeleton-loader
      type="list-item-avatar-two-line"
      data-test="loading-item"
    />
  </div>
  <div v-else class="tile d-flex align-center" data-test="dashboard-tiles">
    <v-icon color="accent" class="px-3" size="74">
      {{ icon }}
    </v-icon>
    <div class="flex-grow-1 d-flex flex-column text-left pr-2">
      <div data-test="tile-title" class="pr-2">{{ title }}</div>
      <div class="d-flex flex-row flex-wrap align-center">
        <div data-test="tile-data" class="text-h3 pt-1">
          {{ data }}
        </div>
        <div
          v-if="displayAcceptAction"
          class="justify-end ml-auto pt-1"
          data-test="tile-accept-button"
        >
          <v-btn color="accent" text @click="redirect">
            <div class="d-flex align-center">
              <div>{{ $t("dashboardTile.acceptAction") }}</div>
              <v-icon>{{ mdiArrowTopRight }}</v-icon>
            </div>
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mdiArrowTopRight } from "@mdi/js";

export default {
  name: "DashboardPayoutTile",

  props: {
    title: {
      type: String,
      required: true,
    },
    data: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
    displayAcceptAction: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    toAction: {
      type: String,
      default: "payouts",
    },
  },

  data() {
    return {
      mdiArrowTopRight,
    };
  },

  methods: {
    redirect() {
      this.$router.push({ name: this.toAction });
    },
  },
};
</script>

<style scoped>
.tile {
  height: 120px;
  background-color: white;
}
</style>
