<template>
  <div>
    <div class="text-h3" data-test="dashboard-greeting">
      {{ $t("dashboard.greeting") }}, {{ user.firstName | capitalize }}!
    </div>

    <div>{{ $t("dashboard.greetingSubtext") }}.</div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "DashboardGreeting",

  computed: {
    ...mapState({
      user: (state) => state.auth.user,
    }),
  },
};
</script>
