<template>
  <div class="d-flex flex-column">
    <v-form ref="form" v-model="isFormValid">
      <div
        class="d-flex justify-space-around font-weight-bold pt-8 px-4"
        data-test="add-bank-account-info-section"
      >
        {{ $t("newPayoutMethod.bankAccount.addNew.info") }}
      </div>
      <v-row align="center" class="pt-4" no-gutters>
        <v-col cols="12" sm="6">
          <v-text-field
            :label="$t('newPayoutMethod.bankAccount.addNew.nameOfBank')"
            class="px-4"
            :rules="[rules.required]"
            data-test="add-bank-account-name-of-bank"
          ></v-text-field
        ></v-col>
        <v-col cols="12" sm="6">
          <v-select
            :items="items"
            :label="$t('newPayoutMethod.bankAccount.addNew.accountType.name')"
            class="px-4 pt-4"
            :rules="[rules.required]"
            data-test="add-bank-account-account-type"
            dense
          ></v-select
        ></v-col>
      </v-row>

      <v-row align="center" no-gutters>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="accountNumber"
            class="px-4"
            :label="$t('newPayoutMethod.bankAccount.addNew.accountNumber')"
            :rules="[rules.required, rules.number]"
            :append-icon="showAccountNumber ? mdiEye : mdiEyeOff"
            :type="showAccountNumber ? 'text' : 'password'"
            data-test="add-bank-account-account-number"
            @click:append="toggleShowNumber('showAccountNumber')"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="confirmAccountNumber"
            class="px-4"
            :label="
              $t('newPayoutMethod.bankAccount.addNew.confirmAccountNumber')
            "
            :rules="[rules.required, rules.number, accountsConfirmationRule]"
            :append-icon="showConfirmAccountNumber ? mdiEye : mdiEyeOff"
            :type="showConfirmAccountNumber ? 'text' : 'password'"
            data-test="add-bank-account-confirm-account-number"
            @click:append="toggleShowNumber('showConfirmAccountNumber')"
          ></v-text-field
        ></v-col>
      </v-row>

      <v-row align="center" no-gutters>
        <v-col cols="12" sm="6">
          <v-text-field
            :label="$t('newPayoutMethod.bankAccount.addNew.routingNumber')"
            class="px-4"
            :rules="[rules.required, rules.number]"
            data-test="add-bank-account-routing-number"
          ></v-text-field>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          class="pt-6 pt-sm-0"
          data-test="add-bank-account-routing-number-tool-tip"
        >
          <v-tooltip top color="grey lighten-5" max-width="300">
            <template v-slot:activator="{ on, attrs }">
              <span
                v-bind="attrs"
                class="cursor-pointer px-3 px-sm-4 align-center text--primary font-weight-bold tool-tip-font-size"
                v-on="on"
              >
                <v-icon color="primary" dark v-bind="attrs" v-on="on">
                  {{ mdiInformation }}
                </v-icon>
                {{ $t("newPayoutMethod.bankAccount.addNew.routingNumberHelp") }}
              </span>
            </template>
            <div class="d-flex flex-column flex-wrap align-center text-center">
              <div class="pb-4 px-4 primary--text">
                {{
                  $t("newPayoutMethod.bankAccount.addNew.routingNumberToolTip")
                }}
              </div>
              <div class="d-flex align-center">
                <v-img
                  src="@/assets/img/Blank_Check_Help.png"
                  max-height="150"
                  max-width="250"
                />
              </div>
              <div class="d-flex text--primary">
                <div
                  class="blank-check-tool-tip px-1 mr-1 ml-2 routing-account-width"
                >
                  {{
                    $t(
                      "newPayoutMethod.bankAccount.addNew.routingOrTransitNumber"
                    )
                  }}
                </div>
                <div
                  class="blank-check-tool-tip px-1 mr-1 routing-account-width"
                >
                  {{ $t("newPayoutMethod.bankAccount.addNew.accountNumber") }}
                </div>
                <div class="blank-check-tool-tip px-1">
                  {{ $t("newPayoutMethod.bankAccount.addNew.checkNumber") }}
                </div>
              </div>
            </div>
          </v-tooltip></v-col
        >
      </v-row>

      <div class="d-flex pt-5 pt-sm-0 px-3 px-sm-4">
        <v-checkbox
          :rules="[rules.required]"
          data-test="add-bank-account-terms-and-conditions"
        >
          <template v-slot:label>
            <div @click.stop="">
              {{ $t("newPayoutMethod.bankAccount.addNew.viewAndAcceptTC") }}
              <router-link
                class="text-decoration-none font-weight-bold"
                :to="{ name: 'terms' }"
                data-test="link-to-terms-conditions"
                target="_blank"
              >
                {{
                  $t("newPayoutMethod.bankAccount.addNew.termsAndConditions")
                }}
              </router-link>
            </div>
          </template>
        </v-checkbox>
      </div>

      <div
        class="d-flex px-3 px-sm-4"
        data-test="add-bank-account-primary-method"
      >
        <v-checkbox
          :label="$t('newPayoutMethod.bankAccount.addNew.primaryPayoutMethod')"
        ></v-checkbox>
      </div>

      <div class="d-flex justify-center align-center pt-10">
        <v-btn
          depressed
          tile
          :disabled="!isFormValid"
          color="primary"
          class="mx-2"
          data-test="add-bank-account-add-account"
        >
          {{ $t("newPayoutMethod.bankAccount.addNew.addAccount") }}
        </v-btn>
        <v-btn
          outlined
          tile
          class="mx-2"
          data-test="add-bank-account-cancel"
          @click="cancel"
        >
          {{ $t("newPayoutMethod.bankAccount.addNew.cancel") }}
        </v-btn>
      </div>
    </v-form>
  </div>
</template>

<script>
import { mdiInformation, mdiEye, mdiEyeOff } from "@mdi/js";
import { mapMutations, mapState } from "vuex";
import { SET_DIALOG_CONTENT } from "@/store/mutation-types";

export default {
  name: "AddBankAccount",
  data() {
    const self = this;
    return {
      mdiInformation,
      mdiEye,
      mdiEyeOff,
      accountNumber: "",
      confirmAccountNumber: "",
      showAccountNumber: false,
      showConfirmAccountNumber: false,
      timeoutId: null,
      items: [
        self.$t("newPayoutMethod.bankAccount.addNew.accountType.checking"),
        self.$t("newPayoutMethod.bankAccount.addNew.accountType.saving"),
      ],
      rules: {
        required: (value) =>
          !!value || self.$t("newPayoutMethod.errors.requiredField"),
        number(value) {
          return (
            /(?=.*\d)/.test(value) ||
            self.$t("newPayoutMethod.errors.requiredNumber")
          );
        },
      },
      isFormValid: false,
    };
  },

  computed: {
    ...mapState({
      dialogContent: (state) => state.paymentMethods.dialogContent,
    }),

    accountsConfirmationRule() {
      return () =>
        this.accountNumber === this.confirmAccountNumber ||
        this.$t("newPayoutMethod.errors.confirmAccountNumbers");
    },
  },

  watch: {
    dialogContent(newVal, oldVal) {
      if (oldVal === "add-bank-account-form" && oldVal !== newVal) {
        this.$refs.form.reset();
      }
    },
  },

  methods: {
    ...mapMutations({ commitDialogContent: SET_DIALOG_CONTENT }),

    toggleShowNumber(show) {
      this[show] = !this[show];

      if (this[show]) {
        if (this.timeoutId) {
          clearTimeout(this.timeoutId);
        }

        this.timeoutId = setTimeout(() => (this[show] = false), 10000);
      }
    },

    cancel() {
      this.commitDialogContent("new-payout-methods");
    },
  },
};
</script>
<style scoped>
.blank-check-tool-tip {
  border: 1px solid #0074d9;
  border-top: none;
  font-size: 0.5rem;
}
.routing-account-width {
  width: 85px;
}
.tool-tip-font-size {
  font-size: 0.9rem;
}
</style>
