<template>
  <v-row no-gutters align="center">
    <v-col cols="12" md="3">
      <div class="primary--text">
        {{ $t("payouts.listView.history.filterBy") }}:
      </div>
    </v-col>

    <v-col cols="12" md="3">
      <v-select
        v-model="show.value"
        :label="$t('payouts.listView.history.filters.show.label')"
        :items="show.items"
        class="mr-md-4"
      />
    </v-col>

    <v-col cols="12" md="3">
      <v-select
        v-model="status.value"
        :label="$t('payouts.listView.history.filters.status.label')"
        :items="status.items"
        class="mr-md-4"
      />
    </v-col>

    <v-col cols="12" md="3">
      <v-select
        v-model="merchant.value"
        :label="$t('payouts.listView.history.filters.merchant.label')"
        :items="merchant.items"
      />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "PayoutsHistoryFilters",

  data() {
    return {
      show: {
        items: [
          this.$t("payouts.listView.history.filters.show.last90Days"),
        ].map((it, i) => ({ value: i, text: it })),
        value: 0,
      },
      status: {
        items: [this.$t("payouts.listView.history.filters.all")].map(
          (it, i) => ({
            value: i,
            text: it,
          })
        ),
        value: 0,
      },
      merchant: {
        items: [this.$t("payouts.listView.history.filters.all")].map(
          (it, i) => ({
            value: i,
            text: it,
          })
        ),
        value: 0,
      },
    };
  },
};
</script>
