<template>
  <div data-test="payouts-history">
    <payouts-history-filters class="mb-3" />

    <div v-if="loading" data-test="history-loader">
      <v-skeleton-loader
        v-for="n in size.value"
        :key="n"
        type="list-item-avatar-two-line"
        class="mb-3"
      />
    </div>

    <div v-else data-test="payouts-history-list">
      <payouts-history-list-item
        v-for="(payout, idx) in payouts"
        :key="idx"
        :payout="payout"
        class="mb-5"
        data-test="payouts-history-list-item"
      />
    </div>

    <payouts-history-pagination
      v-if="payouts.length"
      :pages="pages"
      @next="fetchPayoutHistory(pages.currentPage + 1)"
      @previous="fetchPayoutHistory(pages.currentPage - 1)"
      @changesize="onSizeChange"
    />
  </div>
</template>

<script>
import PayoutsHistoryListItem from "@/components/payouts/history/PayoutsHistoryListItem";
import { FETCH_PAYOUT_HISTORY } from "@/store/action-types";
import PayoutsHistoryPagination from "@/components/payouts/history/PayoutsHistoryPagination";
import PayoutsHistoryFilters from "@/components/payouts/history/PayoutsHistoryFilters";
import { mapMutations } from "vuex";
import { PUSH_APP_ERROR } from "@/store/mutation-types";

export default {
  name: "PayoutsHistory",

  components: {
    PayoutsHistoryFilters,
    PayoutsHistoryPagination,
    PayoutsHistoryListItem,
  },
  data() {
    return {
      pages: {
        currentPage: 1,
        firstPage: true,
        lastPage: false,
        totalRecords: 0,
        currentPageRecords: 0,
      },

      loading: false,

      size: {
        items: [10, 25, 50],
        value: 10,
      },

      payouts: [],
    };
  },

  created() {
    this.fetchPayoutHistory(this.pages.currentPage);
  },

  methods: {
    ...mapMutations({ pushAppError: PUSH_APP_ERROR }),

    fetchPayoutHistory(page) {
      this.loading = true;

      this.$store
        .dispatch(FETCH_PAYOUT_HISTORY, {
          page: page,
          size: this.size.value,
        })
        .then((data) => {
          this.payouts = data.transactions;
          this.pages = data.pages;
        })
        .catch(() =>
          this.pushAppError(this.$t("payouts.listView.history.networkError"))
        )
        .finally(() => (this.loading = false));
    },

    onSizeChange(size) {
      this.size.value = size;
      this.fetchPayoutHistory(1);
    },
  },
};
</script>
