<template>
  <div>
    <div class="d-flex flex-wrap justify-space-between align-center">
      <div class="d-flex align-center">
        <div>{{ $t("payouts.listView.history.pagination.sizeLabel") }}</div>

        <v-select
          v-model="size.value"
          :items="size.items"
          class="ml-6 w-65"
          data-test="pagination-size-select"
          @change="changeSize"
        />
      </div>

      <div class="d-flex align-center">
        <div data-test="pagination-status">{{ statusText }}</div>

        <v-btn
          icon
          :disabled="pages.firstPage"
          data-test="pagination-previous-btn"
          @click="$emit('previous')"
        >
          <v-icon>{{ mdiChevronLeft }}</v-icon>
        </v-btn>

        <v-btn
          icon
          :disabled="pages.lastPage"
          data-test="pagination-next-btn"
          @click="$emit('next')"
        >
          <v-icon>{{ mdiChevronRight }}</v-icon>
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { mdiChevronLeft, mdiChevronRight } from "@mdi/js";

export default {
  name: "PayoutsHistoryPagination",

  props: {
    pages: {
      type: Object,
      default: () => ({
        currentPage: 1,
        firstPage: true,
        lastPage: false,
        totalRecords: 0,
        currentPageRecords: 0,
      }),
    },
    size: {
      type: Object,
      default: () => ({
        items: [10, 25, 50],
        value: 10,
      }),
    },
  },

  data() {
    return {
      mdiChevronLeft,
      mdiChevronRight,
    };
  },

  computed: {
    firstItem() {
      return this.pages.currentPage * this.size.value + 1 - this.size.value;
    },

    lastItem() {
      return (
        this.pages.currentPage * this.size.value +
        this.pages.currentPageRecords -
        this.size.value
      );
    },

    statusText() {
      return `${this.firstItem} - ${this.lastItem} ${this.$tc(
        "payouts.listView.history.pagination.totalLabel",
        this.pages.totalRecords
      )}`;
    },
  },

  methods: {
    changeSize(size) {
      this.$emit("changesize", size);
    },
  },
};
</script>

<style scoped>
.w-65 {
  width: 65px;
}
</style>
