<template>
  <v-sheet class="pa-2 pa-md-4 cursor-pointer">
    <v-row no-gutters align="center">
      <v-col cols="4" sm="5">
        <div class="d-flex justify-start">
          <div class="d-sm-flex flex-wrap justify-start align-center">
            <merchant-logo
              :merchant="recipient.groupName"
              size="2.5rem"
              data-test="history-item-logo"
              no-padding
            />

            <div
              class="font-weight-bold ml-sm-4"
              data-test="history-item-merchant"
            >
              {{ recipient.doingBusinessAs }}
            </div>
          </div>
        </div>
      </v-col>

      <v-col cols="4" sm="3">
        <div class="d-flex align-center">
          <div
            class="rounded-full mr-2 dot"
            :class="
              recipient.payments.paymentStatus === 'DI' ? 'success' : 'error'
            "
            data-test="history-item-status-badge"
          />
          <div
            :class="
              recipient.payments.paymentStatus === 'DI'
                ? 'secondary--text'
                : 'error--text'
            "
            data-test="history-item-status"
          >
            {{ paymentStatus[recipient.payments.paymentStatus] }}
          </div>
        </div>
        <div>{{ payout.transactionDate | shortDate }}</div>
      </v-col>

      <v-col cols="4">
        <div
          class="text-h4 text-sm-h3 text-right"
          data-test="history-item-amount"
        >
          {{
            payout.totalTransactionAmount.total
              | currency(payout.totalTransactionAmount.currency)
          }}
        </div>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import MerchantLogo from "@/components/MerchantLogo";

export default {
  name: "PayoutsHistoryListItem",

  components: { MerchantLogo },

  props: { payout: { type: Object, required: true } },

  data() {
    return {
      paymentStatus: {
        DI: this.$t("paymentStatus.completed"),
        DA: this.$t("paymentStatus.accepted"),
        DR: this.$t("paymentStatus.rejected"),
        PC: this.$t("paymentStatus.canceled"),
        PE: this.$t("paymentStatus.expired"),
        AF: this.$t("paymentStatus.canceled"),
        RE: this.$t("paymentStatus.canceled"),
        DC: this.$t("paymentStatus.canceled"),
        RS: this.$t("paymentStatus.reversalSuccess"),
        RP: this.$t("paymentStatus.reversalPending"),
        RF: this.$t("paymentStatus.reversalFailed"),
      },
    };
  },

  computed: {
    recipient() {
      return this.payout.recipient[0];
    },
  },
};
</script>

<style scoped>
.dot {
  width: 10px;
  height: 10px;
  min-width: 10px;
}
</style>
