<template>
  <div class="d-flex flex-column">
    <div
      class="d-flex justify-center justify-space-around pt-8 primary--text"
      data-test="new-payout-method-info-section"
    >
      {{ $t("newPayoutMethod.info") }}
    </div>
    <div class="pt-8">
      <v-row>
        <v-col cols="4">
          <div class="d-flex justify-center">
            <new-payout-method-card
              :icon="mdiBank"
              :payout-type="$t('newPayoutMethod.bankAccount')"
              data-test="new-payout-method-bank-account"
              @click.native="commitDialogContent('add-bank-account-form')"
            />
          </div>
        </v-col>
        <v-col cols="4">
          <div class="d-flex justify-center">
            <new-payout-method-card
              :icon="mdiCreditCardOutline"
              :payout-type="$t('newPayoutMethod.debitCard')"
              data-test="new-payout-method-credit-card"
            />
          </div>
        </v-col>
        <v-col cols="4">
          <div class="d-flex justify-center">
            <new-payout-method-card
              :payout-type="$t('newPayoutMethod.venmo')"
              data-test="new-payout-method-venmo"
            />
          </div>
        </v-col>
      </v-row>
    </div>
    <div class="py-8">
      <v-row>
        <v-col cols="4">
          <div class="d-flex justify-center">
            <new-payout-method-card
              :payout-type="$t('newPayoutMethod.paypal')"
              data-test="new-payout-method-paypal"
            />
          </div>
        </v-col>
        <v-col cols="4">
          <div class="d-flex justify-center">
            <new-payout-method-card
              :payout-type="$t('newPayoutMethod.moneyNetwork')"
              data-test="new-payout-method-money-network"
            />
          </div>
        </v-col>
        <v-col cols="4"> </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import NewPayoutMethodCard from "./NewPayoutMethodCard";
import { mdiBank, mdiCreditCardOutline, mdiCellphone } from "@mdi/js";
import { mapMutations } from "vuex";
import { SET_DIALOG_CONTENT } from "@/store/mutation-types";

export default {
  name: "NewPayoutMethods",

  components: { NewPayoutMethodCard },

  data() {
    return {
      mdiBank,
      mdiCreditCardOutline,
      mdiCellphone,
    };
  },

  methods: {
    ...mapMutations({ commitDialogContent: SET_DIALOG_CONTENT }),
  },
};
</script>
