<template>
  <v-hover v-slot="{ hover }">
    <v-sheet
      :elevation="hover ? 12 : 0"
      :class="{ 'on-hover': hover }"
      class="d-flex flex-column align-center justify-space-between payout-method-card cursor-pointer panel mx-1 mx-sm-0 pt-4 pb-2"
      data-test="new-payout-card"
    >
      <brand-logo
        v-if="payoutType.logo"
        :display-name="payoutType.name"
        :group-name="payoutType.logo"
        data-test="brand-logo-payout-icon"
      />
      <v-icon v-else size="33" color="primary" data-test="new-payout-icon">
        {{ icon }}
      </v-icon>

      <div class="text-center">
        <div
          class="font-weight-bold primary--text"
          data-test="new-payout-type-name"
        >
          {{ payoutType.name }}
        </div>
        <div class="secondary--text" data-test="new-payout-type-time-frame">
          {{ payoutType.timeFrame }}
        </div>
      </div>

      <div class="text-decoration-none">
        <div class="d-flex align-center">
          <v-tooltip
            top
            max-width="300"
            color="white"
            content-class="tooltip-content-custom"
          >
            <template #activator="{ on, attrs }">
              <div
                class="text--primary"
                data-test="new-payout-review-all"
                v-bind="attrs"
                v-on="on"
              >
                <span>{{ $t("newPayoutMethod.readMore") }}</span>

                <v-icon color="primary" size="1.1rem">{{
                  mdiArrowTopRight
                }}</v-icon>
              </div>
            </template>
            <span>{{ payoutType.tooltip }}</span>
          </v-tooltip>
        </div>
      </div>
    </v-sheet>
  </v-hover>
</template>

<script>
import BrandLogo from "../BrandLogo";
import { mdiArrowTopRight } from "@mdi/js";

export default {
  name: "NewPayoutMethodCard",

  components: { BrandLogo },

  props: {
    icon: {
      type: String,
      default: "",
    },
    payoutType: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      mdiArrowTopRight,
    };
  },
};
</script>

<style scoped>
.v-card:not(.on-hover) {
  opacity: 0.6;
}

.on-hover:hover {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.tooltip-content-custom {
  color: black;
  font-weight: 600;
  background-color: #fff;
  border-radius: 0;
}
.payout-method-card {
  width: 130px;
  height: 10rem;
}

@media (max-width: 600px) {
  .payout-method-card {
    font-size: 0.75rem;
  }
}
</style>
