<template>
  <v-card tile elevation="0" height="120">
    <v-row>
      <v-col cols="8">
        <div
          class="name-container pl-8 pb-5 font-weight-bold"
          data-test="payment-name"
        >
          {{ paymentName }}
        </div>
      </v-col>

      <v-col cols="4">
        <div v-if="isChecking">
          <div
            class="d-flex justify-end align-center mr-4 secondary--text text--darken-2"
            data-test="checking-container"
          >
            <v-icon class="mr-2" color="secondary">{{ mdiBank }}</v-icon>

            <div>{{ $t("paymentMethods.checking") }}</div>

            <v-icon class="ml-2" color="secondary">
              {{ mdiDotsVertical }}
            </v-icon>
          </div>

          <div
            class="d-flex justify-end pt-4 mr-6 number"
            data-test="checking-mask"
          >
            {{ checkingAccountNumber | maskAccountNumber }}
          </div>
        </div>

        <div v-if="isDebit">
          <div
            class="d-flex justify-end align-center mr-4 secondary--text text--darken-2"
            data-test="debit-container"
          >
            <v-icon class="mr-2" color="secondary">
              {{ mdiCreditCardOutline }}
            </v-icon>

            <div>{{ $t("paymentMethods.debit") }}</div>

            <v-icon class="ml-2" color="secondary">
              {{ mdiDotsVertical }}
            </v-icon>
          </div>
          <div
            class="d-flex justify-end pt-4 mr-6 number"
            data-test="debit-mask"
          >
            {{ debitCardNumber | maskAccountNumber }}
          </div>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import { mdiBank, mdiDotsVertical, mdiCreditCardOutline } from "@mdi/js";

export default {
  name: "PaymentMethodInfoCard",

  props: {
    paymentMethod: {
      type: Object,
      required: true,
    },
    loading: { type: Boolean, default: false },
  },

  data() {
    return {
      mdiBank,
      mdiDotsVertical,
      mdiCreditCardOutline,
    };
  },

  computed: {
    isChecking() {
      return this.paymentMethod.type === "ACH";
    },
    isDebit() {
      return this.paymentMethod.type === "DEBIT";
    },
    checkingAccountNumber() {
      return this.paymentMethod.ach.accountNumber;
    },
    debitCardNumber() {
      return this.paymentMethod.credit.cardNumber;
    },
    paymentName() {
      return this.paymentMethod.name;
    },
  },
};
</script>

<style scoped>
.name-container {
  position: absolute;
  bottom: 0;
  left: 0;
}
.number {
  white-space: nowrap;
}
</style>
