<template>
  <div>
    <div class="d-flex flex-wrap justify-space-between mb-3">
      <div class="text-h4">{{ $t("paymentMethods.title") }}</div>

      <v-btn text data-test="add-new-dialog-trigger" @click="showDialog = true">
        <v-icon class="mr-1" color="primary" size="20">{{
          mdiPlusCircleOutline
        }}</v-icon>

        <span>{{ $t("paymentMethods.addNew") }}</span>
      </v-btn>
    </div>

    <div v-if="loading" data-test="payment-methods-loader">
      <v-skeleton-loader
        v-for="n in 3"
        :key="n"
        type="list-item-avatar-two-line"
        data-test="loading-item"
        class="mb-4"
      />
    </div>

    <div v-else-if="paymentMethods.length === 0">
      <v-alert
        color="sidebar-panel"
        class="py-7"
        data-test="no-payment-methods"
      >
        <div class="d-flex justify-center">
          <v-btn
            text
            tile
            data-test="add-payout-method-btn"
            @click="showDialog = true"
          >
            <v-icon color="secondary">{{ mdiPlusCircleOutline }}</v-icon>
            <div class="secondary--text ml-2 py-4">
              {{ $t("paymentMethods.addPayoutMethod") }}
            </div>
          </v-btn>
        </div>
      </v-alert>
    </div>

    <div v-else data-test="payment-methods-list">
      <v-carousel
        v-model="slideNumber"
        class="h-full"
        hide-delimiters
        :show-arrows="false"
        :height="paymentMethodSlides > 1 ? 420 : 'auto'"
        light
      >
        <v-carousel-item
          v-for="(slide, slideIndex) in paymentMethodSlides"
          :key="slide"
        >
          <payment-method-info-card
            v-for="(method, index) in threePaymentMethods(slideIndex)"
            :key="index"
            :payment-method="method"
            class="my-6"
          />
        </v-carousel-item>
      </v-carousel>
      <v-row v-if="paymentMethodSlides > 1" justify="center">
        <v-btn
          v-for="(slide, index) in paymentMethodSlides"
          :key="slide"
          v-ripple="false"
          class="pa-0 mx-1 mt-5"
          :min-width="slideNumber === index ? '25' : '10'"
          :color="slideNumber === index ? 'accent' : 'grey'"
          height="10"
          depressed
          rounded
          data-test="payment-method-delimiters"
          @click="clickSlideButton(slide)"
        >
        </v-btn>
      </v-row>
    </div>

    <dialog-panel
      v-model="showDialog"
      :title="$t('newPayoutMethod.title')"
      :on-close="close"
    >
      <v-window v-model="dialogContent">
        <v-window-item value="new-payout-methods">
          <new-payout-methods />
        </v-window-item>

        <v-window-item value="add-bank-account-form">
          <add-bank-account />
        </v-window-item>
      </v-window>
    </dialog-panel>
  </div>
</template>
<script>
import PaymentMethodInfoCard from "./PaymentMethodInfoCard.vue";
import DialogPanel from "../DialogPanel";
import NewPayoutMethods from "./NewPayoutMethods";
import { SET_DIALOG_CONTENT } from "@/store/mutation-types";
import { mdiPlusCircleOutline } from "@mdi/js";
import AddBankAccount from "./add-new-payment-methods/AddBankAccount";

export default {
  name: "PaymentMethods",

  components: {
    AddBankAccount,
    NewPayoutMethods,
    DialogPanel,
    PaymentMethodInfoCard,
  },

  props: {
    paymentMethods: { type: Array, required: true },
    loading: { type: Boolean, default: false },
  },

  data() {
    return {
      mdiPlusCircleOutline,
      slideNumber: 0,
      showDialog: false,
    };
  },

  computed: {
    dialogContent: {
      get() {
        return this.$store.state.paymentMethods.dialogContent;
      },

      set(val) {
        this.$store.commit(SET_DIALOG_CONTENT, val);
      },
    },
    paymentMethodSlides() {
      return Math.ceil(this.paymentMethods.length / 3);
    },
  },

  methods: {
    close() {
      this.dialogContent = "new-payout-methods";
    },
    threePaymentMethods(slideIndex) {
      slideIndex *= 3;
      return this.paymentMethods.slice(slideIndex, slideIndex + 3);
    },
    clickSlideButton(slide) {
      this.slideNumber = slide - 1;
    },
  },
};
</script>
