<template>
  <div :class="[smAndDown ? ['d-flex', 'text-body-2'] : '']">
    <div class="secondary--text mr-2 mr-md-0">
      {{ $t("dashboard.availablePayoutsList.expires") }}
    </div>
    <div :class="{ 'error--text': isExpired }" data-test="expiry-date">
      {{ expiryDate | shortDate }}
    </div>
  </div>
</template>

<script>
import { isAfter, isSameDay, parse } from "date-fns";

export default {
  name: "DashboardPayoutsListItemExpires",

  props: {
    expiryDate: { type: String, required: true },
    smAndDown: { type: Boolean, default: false },
  },

  computed: {
    isExpired() {
      const now = new Date();
      const expiryDate = parse(this.expiryDate, "MM/dd/yyyy", now);
      return isSameDay(now, expiryDate) || isAfter(now, expiryDate);
    },
  },
};
</script>
