<template>
  <div data-test="dashboard-payouts-list">
    <div v-if="loading" data-test="available-payouts-list-loader">
      <div v-for="n in displayCount" :key="n">
        <v-skeleton-loader
          type="list-item-avatar-two-line"
          class="mb-4"
          data-test="loading-item"
        />
      </div>
    </div>

    <div v-else data-test="payouts-list">
      <div class="d-flex align-center mb-4">
        <v-avatar
          color="black"
          size="40"
          class="white--text text-h4"
          data-test="payout-count"
        >
          {{ payoutCount }}
        </v-avatar>
        <div class="ml-3 text-h4">
          {{ $tc("dashboard.availablePayoutsList.header", payoutCount) }}
        </div>
      </div>

      <v-alert
        v-if="payoutCount === 0"
        color="sidebar"
        class="py-7"
        data-test="no-payouts"
      >
        <div class="d-flex justify-center align-center">
          <v-icon color="secondary" large>{{ mdiCashRemove }}</v-icon>

          <div class="secondary--text ml-2">
            {{ $t("dashboard.availablePayoutsList.noPayouts") }}
          </div>
        </div>
      </v-alert>

      <div v-else data-test="payouts-list-items">
        <dashboard-payouts-list-item
          v-for="payout in sortedPayouts"
          :key="payout.id"
          :payout="payout"
          class="mb-4"
        />

        <router-link :to="{ name: 'payouts' }" class="text-decoration-none">
          <div class="d-flex justify-end align-center">
            <div class="mr-2">
              {{ $t("dashboard.availablePayoutsList.reviewAll") }}
            </div>
            <v-icon>{{ mdiArrowTopRight }}</v-icon>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import DashboardPayoutsListItem from "@/components/dashboard/payouts-list/DashboardPayoutsListItem";
import { compareAsc, parse } from "date-fns";
import { mdiCashRemove, mdiArrowTopRight } from "@mdi/js";

export default {
  name: "DashboardPayoutsList",

  components: { DashboardPayoutsListItem },

  props: {
    payouts: { type: Array, default: () => [] },
    loading: { type: Boolean, default: false },
    displayCount: { type: Number, default: 3 },
  },

  data() {
    return {
      mdiCashRemove,
      mdiArrowTopRight,
    };
  },

  computed: {
    payoutCount() {
      return this.payouts.length;
    },

    sortedPayouts() {
      const sorted = [...this.payouts];
      sorted.sort((a, b) => {
        const dateLeft = parse(a.expiryDate, "MM/dd/yyyy", new Date());
        const dateRight = parse(b.expiryDate, "MM/dd/yyyy", new Date());
        return compareAsc(dateLeft, dateRight);
      });

      return sorted.slice(0, this.displayCount);
    },
  },
};
</script>
