<template>
  <v-sheet class="pa-5 cursor-pointer" data-test="dashboard-payouts-list-item">
    <v-row no-gutters align="center">
      <v-col cols="5" sm="6">
        <div class="d-flex align-center">
          <merchant-logo
            class="mr-3"
            :merchant="merchant.groupName"
            size="3rem"
            no-padding
          />

          <div class="d-md-flex flex-md-wrap">
            <div
              class="font-weight-bold align-self-start"
              data-test="merchant-name"
            >
              {{ merchant.doingBusinessAs }}
            </div>

            <dashboard-payouts-list-item-expires
              v-if="$vuetify.breakpoint.xs"
              :sm-and-down="true"
              :expiry-date="payout.expiryDate"
            />
          </div>
        </div>
      </v-col>

      <v-col v-if="$vuetify.breakpoint.smAndUp" cols="3">
        <dashboard-payouts-list-item-expires
          v-if="$vuetify.breakpoint.smAndUp"
          :expiry-date="payout.expiryDate"
        />
      </v-col>

      <v-col class="text-right">
        <div class="text-h4 text-sm-h3" data-test="amount">
          {{
            payout.totalTransactionAmount.total
              | currency(payout.totalTransactionAmount.currency)
          }}
        </div>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
import DashboardPayoutsListItemExpires from "@/components/dashboard/payouts-list/DashboardPayoutsListItemExpires";
import MerchantLogo from "@/components/MerchantLogo";

export default {
  name: "DashboardPayoutsListItem",

  components: { MerchantLogo, DashboardPayoutsListItemExpires },

  props: {
    payout: { type: Object, required: true },
  },

  computed: {
    merchant() {
      return this.payout.recipient[0];
    },
  },
};
</script>
