<template>
  <v-app :style="{ background: background }">
    <the-nav-bar />

    <v-main class="main">
      <the-error-alert class="max-w-2xl mx-auto mt-8 mt-sm-12" />

      <router-view />
    </v-main>

    <the-footer v-if="showFooter" />

    <the-mobile-bottom-nav-bar v-if="isAuthenticated" />
  </v-app>
</template>

<script>
import TheNavBar from "@/components/TheNavBar";
import TheFooter from "@/components/TheFooter";
import { mapState, mapGetters } from "vuex";
import TheErrorAlert from "@/components/TheErrorAlert";
import TheMobileBottomNavBar from "@/components/TheMobileBottomNavBar";

export default {
  name: "App",

  components: { TheErrorAlert, TheMobileBottomNavBar, TheNavBar, TheFooter },

  computed: {
    ...mapState({
      showFooter: (state) => state.app.showFooter,
      splitBackground: (state) => state.app.splitBackground,
      ...mapGetters(["isAuthenticated"]),
    }),

    background() {
      return this.splitBackground && this.$vuetify.breakpoint.mdAndUp
        ? "none"
        : this.$vuetify.theme.themes.light.background;
    },
  },
};
</script>

<style scoped>
@media (max-width: 960px) {
  .main::after,
  .main::before {
    content: none !important;
  }
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 57.5%;
  height: 100%;
  background-color: #f1f1f1;
  z-index: -1;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 57.5%;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  z-index: -1;
}
</style>
