// vuetify overrides
.v-tab {
    text-transform: none !important;
}

// fonts
@font-face {
    font-family: 'Univers-for-Fiserv';
    src: url('../assets/fonts/UniversForFiserv55.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers-for-Fiserv';
    src: url('../assets/fonts/UniversForFiserv65-Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// sizing
.h-full {
    height: 100%;
}

.max-w-2xl {
    max-width: 42rem;
}

.max-w-full {
    max-width: 100%;
}

// borders
.rounded-full {
    border-radius: 9999px;
}

// cursor
.cursor-pointer {
    cursor: pointer;
}
