$font-size-root: 1rem;
$line-height-root: normal;
$letter-spacing-root: normal;

$body-font-family: "Univers-for-Fiserv", sans-serif;
$heading-font-family: $body-font-family;

$tabs-item-letter-spacing: $letter-spacing-root;
$tab-font-size: $font-size-root;

$btn-letter-spacing: $letter-spacing-root;
$btn-text-transform: none;
$btn-font-sizes: (
        'x-small': .725rem,
        'small': 1rem,
        'default': 1rem,
        'large': 1rem,
        'x-large': 1rem
);

$headings: (
        'h1': (
                'size': 5rem,
                'weight': bold,
                'line-height': $line-height-root,
                'letter-spacing': $letter-spacing-root
        ),
        'h2': (
                'size': 2.5rem,
                'weight': bold,
                'line-height': $line-height-root,
                'letter-spacing': $letter-spacing-root
        ),
        'h3': (
                'size': 1.75rem,
                'weight': bold,
                'line-height': $line-height-root,
                'letter-spacing': $letter-spacing-root
        ),
        'h4': (
                'size': 1.25rem,
                'weight': bold,
                'line-height': $line-height-root,
                'letter-spacing': $letter-spacing-root
        ),
);

$dialog-card-title-font-size: $font-size-root;
$dialog-card-title-letter-spacing: $letter-spacing-root;
$card-text-font-size: $font-size-root;
$card-text-letter-spacing: $letter-spacing-root;
