<template>
  <div>
    <div v-for="(l, idx) in legendItems" :key="idx" data-test="legend-item">
      <div class="d-flex align-center">
        <div
          class="size-10 rounded-full"
          :style="{ backgroundColor: l.color }"
          data-test="legend-color-indicator"
        />

        <div class="d-flex align-center ml-4">
          <merchant-logo
            v-if="l.merchant.groupName !== 'other'"
            :merchant="l.merchant.groupName"
            size="20px"
            data-test="legend-logo"
            no-padding
          />

          <div v-else class="w-20" />

          <div class="ml-2" data-test="legend-merchant">
            {{ l.merchant.doingBusinessAs }}
          </div>
        </div>
      </div>

      <div class="secondary--text pl-14" data-test="legend-percent">
        {{ l.percent }}%
      </div>
    </div>
  </div>
</template>

<script>
import MerchantLogo from "@/components/MerchantLogo";

export default {
  name: "PayoutByMerchantLegend",

  components: { MerchantLogo },

  props: {
    byMerchantTotals: { type: Array, required: true },
    colors: { type: Array, required: true },
    overallSum: { type: Object, required: true },
  },

  computed: {
    legendItems() {
      return this.byMerchantTotals.map((total, i) => {
        return {
          merchant: {
            groupName: total.groupName,
            doingBusinessAs: total.doingBusinessAs,
          },
          color: this.colors[i],
          percent: Math.round(
            (total.totalPayoutsAmount.total / this.overallSum.total) * 100
          ),
        };
      });
    },
  },
};
</script>

<style scoped>
.size-10 {
  height: 10px;
  width: 10px;
}

.w-20 {
  width: 20px;
}
</style>
