<template>
  <div class="d-flex justify-center relative">
    <canvas ref="graph" style="width: 200px; max-width: 100%" />

    <div class="center text-center primary--text">
      <div class="secondary--text">{{ $t("payoutByMerchant.total") }}</div>
      <div class="font-weight-bold">
        {{ overallSum.total | currency(overallSum.currency) }}
      </div>
    </div>
  </div>
</template>

<script>
import { ArcElement, Chart, DoughnutController, Tooltip } from "chart.js";
import { currency } from "@/filters/filters";

export default {
  name: "PayoutByMerchantDoughnut",

  props: {
    byMerchantTotals: { type: Array, required: true },
    overallSum: { type: Object, required: true },
    colors: { type: Array, required: true },
  },

  data() {
    return {
      chart: null,
    };
  },

  computed: {
    graph() {
      const self = this;
      const labels = [];
      const data = [];
      const backgroundColor = [];

      if (this.byMerchantTotals.length > 0) {
        for (let i = 0; i < this.byMerchantTotals.length; i++) {
          const payout = this.byMerchantTotals[i];

          labels.push(payout.doingBusinessAs);
          data.push(payout.totalPayoutsAmount.total);
          backgroundColor.push(this.colors[i]);
        }
      }

      return {
        type: "doughnut",
        data: {
          labels,
          datasets: [
            {
              label: "Payout by Merchant",
              data,
              backgroundColor,
              borderWidth: 0,
            },
          ],
        },
        options: {
          responsive: true,
          cutout: "65%",
          plugins: {
            tooltip: {
              callbacks: {
                label(items) {
                  return `${items.label}`;
                },

                footer(items) {
                  return `${currency(items[0].raw, self.overallSum.currency)}`;
                },
              },
            },
            legend: {
              display: false,
            },
          },
        },
      };
    },
  },

  watch: {
    graph: {
      handler(newVal) {
        // bail out if there's no data yet
        if (!newVal.data.labels.length) {
          return;
        }

        // create a new chart if one doesn't exit
        if (!this.chart) {
          this.chart = new Chart(this.$refs.graph, this.graph);
          return;
        }

        // otherwise...update the existing chart
        this.chart.data.labels = this.graph.data.labels;
        this.chart.data.datasets = this.graph.data.datasets;
        this.chart.update();
      },
      deep: true,
    },
  },

  mounted() {
    Chart.register(DoughnutController, ArcElement, Tooltip);
    this.chart = new Chart(this.$refs.graph, this.graph);
  },
};
</script>

<style scoped>
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}
</style>
