<template>
  <div>
    <div class="text-h4 mb-10">
      {{ $t("payoutByMerchant.title") }}
    </div>

    <v-row>
      <v-col cols="6">
        <payout-by-merchant-doughnut
          :by-merchant-totals="sortedAndConsolidatedTotals"
          :overall-sum="totalLifetimePayoutAmount"
          :colors="colors"
        />
      </v-col>

      <v-col cols="6">
        <payout-by-merchant-legend
          :by-merchant-totals="sortedAndConsolidatedTotals"
          :overall-sum="totalLifetimePayoutAmount"
          :colors="colors"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import PayoutByMerchantDoughnut from "@/components/payouts-by-merchant/PayoutByMerchantDoughnut";
import PayoutByMerchantLegend from "@/components/payouts-by-merchant/PayoutByMerchantLegend";

export default {
  name: "PayoutByMerchant",

  components: { PayoutByMerchantLegend, PayoutByMerchantDoughnut },

  props: {
    totals: { type: Array, required: true },
  },

  data() {
    return {
      colors: ["#03A9F4", "#81D4FA", "#0277BD", "#B3E5FC", "#01579B"],
    };
  },

  computed: {
    totalLifetimePayoutAmount() {
      const currency = this.totals.length
        ? this.totals[0].totalPayoutsAmount.currency
        : "USD";

      const total = this.totals.reduce((sum, val) => {
        return sum + val.totalPayoutsAmount.total;
      }, 0);

      return {
        total,
        currency,
      };
    },

    sortedAndConsolidatedTotals() {
      if (!this.totals.length) {
        return this.totals;
      }

      const copy = [...this.totals];
      let sorted = copy.sort(
        (a, b) => b.totalPayoutsAmount.total - a.totalPayoutsAmount.total
      );

      // consolidate lower contributers to an "other" label
      if (this.totals.length > this.colors.length) {
        const top = copy.slice(0, (this.colors.length - 2) | 1);
        const other = copy.slice(this.colors.length - 1);

        const currency = other[0].totalPayoutsAmount.currency;
        const otherTotal = other.reduce((sum, val) => {
          return sum + val.totalPayoutsAmount.total;
        }, 0);
        sorted = [
          ...top,
          {
            groupName: "other",
            doingBusinessAs: "Other",
            totalPayoutsAmount: {
              total: otherTotal,
              currency: currency,
            },
          },
        ];
      }

      return sorted;
    },
  },
};
</script>
