<template>
  <div class="auth-container pa-5">
    <v-row>
      <v-col md="5" lg="4" offset-md="5" offset-lg="6">
        <v-card color="rgba(51, 51, 51, 0.8)" class="auth-card pa-10" dark>
          <router-view />
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "Auth",
};
</script>

<style scoped>
.auth-container {
  height: 100%;
  background: center center no-repeat url("~@/assets/img/auth_cover.png");
  background-size: cover;
}
</style>
