<template>
  <div>
    <div class="text-h5 mb-4">Change password</div>

    <div v-if="error">
      <span class="error--text" data-test="network-error">{{ error }}</span>
    </div>

    <v-text-field
      ref="newPassword"
      v-model.trim="newPassword"
      label="New password"
      :type="showPassword ? 'text' : 'password'"
      :append-icon="showPassword ? mdiEye : mdiEyeOff"
      :hint="`Must be at least ${$v.newPassword.$params.minLength.min} characters.`"
      :error-messages="passwordErrors"
      data-test="new-password-input"
      @keyup.enter="change"
      @blur="$v.newPassword.$touch"
      @click:append="showPassword = !showPassword"
    />

    <v-btn
      class="mt-5"
      color="accent"
      :loading="loading"
      :disabled="$v.newPassword.$invalid || loading"
      data-test="change-btn"
      @click="change"
    >
      Change
    </v-btn>
  </div>
</template>

<script>
import { COMPLETE_NEW_PASSWORD } from "@/store/action-types";
import { minLength, required } from "vuelidate/lib/validators";
import { mapState } from "vuex";
import { mdiEye, mdiEyeOff } from "@mdi/js";

export default {
  name: "CompleteNewPassword",

  data() {
    return {
      mdiEye,
      mdiEyeOff,
      newPassword: "",
      showPassword: false,
      loading: false,
      error: "",
    };
  },

  validations: {
    newPassword: { required, minLength: minLength(8) },
  },

  computed: {
    ...mapState({
      redirect: (state) => state.auth.redirect,
    }),
    passwordErrors() {
      const errs = [];
      if (!this.$v.newPassword.$dirty) {
        return errs;
      }

      !this.$v.newPassword.required &&
        errs.push("Please enter a new password.");
      !this.$v.newPassword.minLength &&
        errs.push(
          `Password needs to be at least ${this.$v.newPassword.$params.minLength.min} characters.`
        );

      return errs;
    },
  },

  mounted() {
    this.$refs.newPassword.focus();
  },

  methods: {
    change() {
      this.$v.newPassword.$touch();
      if (this.$v.newPassword.$invalid) {
        return;
      }

      this.setWorking(true);

      this.$store
        .dispatch(COMPLETE_NEW_PASSWORD, this.newPassword)
        .then((user) => {
          if (user.challengeName === "SMS_MFA") {
            this.$router.replace({ name: "confirm-sign-in" });
          } else {
            this.$router.replace(this.redirect);
          }
        })
        .catch((err) => {
          this.error = err.message;
        })
        .finally(() => this.setWorking(false));
    },

    setWorking(working) {
      this.working = working;
      this.buttonText = working ? "Changing..." : "Change";
    },
  },
};
</script>
