<template>
  <div class="confirm-sigin-in-container">
    <div class="text-h5 mb-4">Confirm Verification Code</div>

    <div v-if="error">
      <span class="error--text" data-test="network-error">{{ error }}</span>
    </div>

    <v-text-field
      ref="codeInput"
      v-model.trim="code"
      type="number"
      label="Verification code"
      :error-messages="codeErrors"
      data-test="code-input"
      @keyup.enter="confirm"
      @blur="$v.code.$touch"
    />

    <v-btn
      color="accent"
      :disabled="confirmDisabled"
      :loading="loading"
      depressed
      data-test="confirm-btn"
      @click="confirm"
    >
      {{ buttonText }}
    </v-btn>
  </div>
</template>

<script>
import { CONFIRM_SIGN_IN } from "@/store/action-types";
import { required } from "vuelidate/lib/validators";
import { mapState } from "vuex";

export default {
  name: "ConfirmSignIn",

  data() {
    return {
      code: "",
      error: "",
      loading: false,
      sessionExpired: false,
      buttonText: "Confirm",
    };
  },

  validations: {
    code: { required },
  },

  computed: {
    ...mapState({
      redirect: (state) => state.auth.redirect,
    }),
    confirmDisabled() {
      return this.sessionExpired || this.$v.code.$invalid || this.loading;
    },

    codeErrors() {
      const errs = [];
      if (!this.$v.code.$dirty) {
        return errs;
      }

      !this.$v.code.required &&
        errs.push("Please enter your verification code.");

      return errs;
    },
  },

  mounted() {
    this.$refs.codeInput.focus();
  },

  methods: {
    confirm() {
      this.$v.code.$touch();
      if (this.confirmDisabled) {
        return;
      }

      this.loading = true;

      this.$store
        .dispatch(CONFIRM_SIGN_IN, this.code)
        .then(() => {
          this.$router.replace(this.redirect);
        })
        .catch((err) => {
          if (err.code && err.message) {
            this.error = err.message;
            this.sessionExpired = err.code === "NotAuthorizedException";
            return;
          }

          this.error = err;
        })
        .finally(() => (this.loading = false));
    },
  },
};
</script>
