<template>
  <div>
    <div class="text-h5 mb-4">Password Recovery</div>

    <div class="text-subtitle-1">Please enter your username</div>

    <div v-if="error">
      <span class="error--text" data-test="network-error">{{ error }}</span>
    </div>

    <v-text-field
      ref="usernameInput"
      v-model.trim="username"
      label="Username"
      class="mb-3"
      :error-messages="usernameErrors"
      data-test="username-input"
      @keyup.enter="forgotPassword"
      @blur="$v.username.$touch"
    />

    <v-btn
      depressed
      color="accent"
      :disabled="$v.username.$invalid || loading"
      :loading="loading"
      data-test="submit-btn"
      @click="forgotPassword"
    >
      Submit
    </v-btn>
  </div>
</template>

<script>
import { FORGOT_PASSWORD } from "@/store/action-types";
import { required } from "vuelidate/lib/validators";

export default {
  name: "ForgotPassword",

  data() {
    return {
      username: "",
      error: "",
      loading: false,
    };
  },

  computed: {
    usernameErrors() {
      const errs = [];
      if (!this.$v.username.$dirty) {
        return errs;
      }

      !this.$v.username.required && errs.push("Please enter your username.");

      return errs;
    },
  },

  mounted() {
    this.$refs.usernameInput.focus();
  },

  validations: {
    username: { required },
  },
  methods: {
    forgotPassword() {
      this.$v.username.$touch();
      if (this.$v.username.$invalid) {
        return;
      }

      this.loading = true;

      this.$store
        .dispatch(FORGOT_PASSWORD, this.username)
        .then(() => {
          this.$router.push({
            name: "forgot-password-submit",
            query: { username: this.username },
          });
        })
        .catch((err) => {
          this.error = err.message;
        })
        .finally(() => (this.loading = false));
    },
  },
};
</script>
