<template>
  <div>
    <div class="text-h5 mb-4">Password Recovery</div>

    <div class="text-subtitle-1 mb-4 grey--text text--lighten-1">
      Recovery Passcode
    </div>

    <div class="grey--text text--lighten-1">
      Please enter the one-time passcode that was sent to your email
    </div>

    <div v-if="error">
      <span class="error--text" data-test="network-error">{{ error }}</span>
    </div>

    <v-text-field
      ref="otpInput"
      v-model.trim="form.otp"
      type="number"
      label="One-time Passcode"
      :error-messages="otpErrors"
      data-test="otp-input"
      @blur="$v.form.otp.$touch"
    />

    <v-text-field
      v-model.trim="form.newPassword"
      type="password"
      placeholder="Enter New Password"
      :error-messages="newPasswordErrors"
      data-test="new-password-input"
      @keyup.enter="submit"
      @blur="$v.form.newPassword.$touch"
    />
    <div>
      <v-btn
        color="accent"
        class="mt-4"
        :disabled="$v.form.$invalid || loading"
        :loading="loading"
        data-test="submit-btn"
        @click="submit"
      >
        Submit
      </v-btn>
    </div>
  </div>
</template>

<script>
import { FORGOT_PASSWORD_SUBMIT } from "@/store/action-types";
import { minLength, required } from "vuelidate/lib/validators";

export default {
  name: "ForgotPasswordSubmit",

  props: {
    username: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      form: {
        otp: "",
        newPassword: "",
      },
      error: "",
      loading: false,
    };
  },

  computed: {
    otpErrors() {
      const errs = [];
      if (!this.$v.form.otp.$dirty) {
        return errs;
      }

      !this.$v.form.otp.required && errs.push("Recovery passcode is required.");

      return errs;
    },

    newPasswordErrors() {
      const errs = [];
      if (!this.$v.form.newPassword.$dirty) {
        return errs;
      }

      !this.$v.form.newPassword.required &&
        errs.push("A new password is required.");
      !this.$v.form.newPassword.minLength &&
        errs.push(
          `Password should be at least ${this.$v.form.newPassword.$params.minLength.min} characters.`
        );

      return errs;
    },
  },

  mounted() {
    this.$refs.otpInput.focus();
  },

  validations: {
    form: {
      otp: { required },
      newPassword: { required, minLength: minLength(8) },
    },
  },

  methods: {
    submit() {
      this.$v.form.$touch();
      if (this.$v.form.$invalid) {
        return;
      }

      this.loading = true;

      this.$store
        .dispatch(FORGOT_PASSWORD_SUBMIT, {
          ...this.form,
          username: this.username,
        })
        .then(() => {
          this.$router.replace({ name: "sign-in" });
        })
        .catch((err) => {
          this.error = err.message;
        })
        .finally(() => (this.loading = false));
    },
  },
};
</script>
