<template>
  <div class="sign-in-container">
    <div class="text-h5 mb-4">{{ $t("signIn.login") }}</div>

    <div v-if="error">
      <span class="error--text" data-test="network-error">{{ error }}</span>
    </div>

    <v-text-field
      ref="usernameInput"
      v-model.trim="credentials.username"
      :label="$t('signIn.username')"
      :prepend-inner-icon="mdiAccount"
      :error-messages="usernameErrors"
      clearable
      data-test="username-input"
      @blur="$v.credentials.username.$touch"
    />

    <v-text-field
      v-model.trim="credentials.password"
      :label="$t('signIn.password')"
      class="mb-5"
      :prepend-inner-icon="mdiLock"
      :append-icon="showPassword ? mdiEye : mdiEyeOff"
      :type="showPassword ? 'text' : 'password'"
      :error-messages="passwordErrors"
      data-test="password-input"
      @keyup.enter="signIn"
      @blur="$v.credentials.password.$touch"
      @click:append="showPassword = !showPassword"
    />

    <v-btn
      class="mb-5"
      color="accent"
      :disabled="$v.credentials.$invalid || loading"
      :loading="loading"
      depressed
      data-test="sign-in-btn"
      @click="signIn"
    >
      {{ $t("signIn.signIn") }}
    </v-btn>

    <div>
      <router-link
        to="/auth/forgot-password"
        class="white--text text-decoration-none"
      >
        {{ $t("signIn.forgotPassword") }}
      </router-link>
    </div>
  </div>
</template>

<script>
import { SIGN_IN } from "@/store/action-types";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapState } from "vuex";
import { mdiAccount, mdiLock, mdiEye, mdiEyeOff } from "@mdi/js";

export default {
  name: "SignIn",

  data() {
    return {
      mdiAccount,
      mdiLock,
      mdiEye,
      mdiEyeOff,
      credentials: {
        username: "",
        password: "",
      },
      showPassword: false,
      loading: false,
      error: "",
    };
  },

  computed: {
    ...mapState({
      redirect: (state) => state.auth.redirect,
    }),

    usernameErrors() {
      const errs = [];
      if (!this.$v.credentials.username.$dirty) {
        return errs;
      }

      !this.$v.credentials.username.required &&
        errs.push(this.$t("signIn.usernameRequired"));

      return errs;
    },

    passwordErrors() {
      const errs = [];
      if (!this.$v.credentials.password.$dirty) {
        return errs;
      }

      !this.$v.credentials.password.required &&
        errs.push(this.$t("signIn.passwordRequired"));

      return errs;
    },
  },

  mounted() {
    this.$refs.usernameInput.focus();
  },

  validations: {
    credentials: {
      username: { required },
      password: { required },
    },
  },

  methods: {
    ...mapActions({ dispatchSignIn: SIGN_IN }),

    signIn() {
      this.$v.credentials.$touch();
      if (this.$v.credentials.$invalid) {
        return;
      }

      this.loading = true;

      this.dispatchSignIn(this.credentials)
        .then((user) => {
          switch (user.challengeName) {
            case "NEW_PASSWORD_REQUIRED":
              this.$router.push({ name: "complete-new-password" });
              break;
            case "SMS_MFA":
              this.$router.push({ name: "confirm-sign-in" });
              break;
            default:
              this.$router.push(this.redirect);
          }
        })
        .catch((err) => {
          this.error = err.message;
        })
        .finally(() => (this.loading = false));
    },
  },
};
</script>
