<template>
  <v-form>
    <div class="d-flex justify-space-between">
      <div class="d-flex align-center">
        <v-icon class="mr-2" color="primary" size="17" left>
          {{ mdiBell }}
        </v-icon>
        <div class="text-h4">
          {{ $t("profile.alertPreferences.title") }}
        </div>
      </div>

      <div v-if="!loading" class="d-flex align-center">
        <v-icon class="mr-1" color="primary" size="17">
          {{ mdiPencilOutline }}
        </v-icon>
        {{ $t("profile.edit") }}
      </div>
    </div>

    <div v-if="loading" data-test="password-settings-loader">
      <v-skeleton-loader
        class="mt-1"
        type="list-item-two-line"
        data-test="loading-item"
      />
    </div>

    <div v-else>
      <v-select
        :items="alertPreferences"
        :value="alertPreferences[0]"
        disabled
        data-test="alert-preference"
      />
    </div>
  </v-form>
</template>

<script>
import { mdiBell, mdiPencilOutline } from "@mdi/js";

export default {
  name: "AlertPreferences",

  props: {
    user: { type: Object, required: true },
    loading: { type: Boolean, default: false },
  },

  data() {
    return {
      mdiBell,
      mdiPencilOutline,

      alertPreferences: [
        this.$t("profile.alertPreferences.email"),
        this.$t("profile.alertPreferences.sms"),
      ],
    };
  },
};
</script>
