<template>
  <div>
    <div class="d-flex justify-space-between mb-md-8 mb-3">
      <div class="text-h4">
        {{ $t("profile.emailSettings.title") }}
      </div>

      <div v-if="!loading" class="d-flex align-center">
        <v-icon class="mr-1" color="primary" size="17">
          {{ mdiPencilOutline }}
        </v-icon>
        {{ $t("profile.edit") }}
      </div>
    </div>

    <v-card class="px-8 py-6" tile elevation="0" min-width="275">
      <div class="font-weight-bold">
        {{ $t("profile.emailSettings.emailsOnFile") }}
      </div>

      <div v-if="loading" data-test="email-settings-loader">
        <v-skeleton-loader type="list-item-two-line" data-test="loading-item" />
      </div>

      <div v-else class="mt-2" data-test="email-address">
        {{ user.emailAddress.value }}
      </div>
    </v-card>
  </div>
</template>

<script>
import { mdiPencilOutline } from "@mdi/js";

export default {
  name: "EmailSettings",

  props: {
    user: { type: Object, required: true },
    loading: { type: Boolean, default: false },
  },

  data() {
    return {
      mdiPencilOutline,
    };
  },
};
</script>
