<template>
  <v-form>
    <div class="d-flex justify-space-between">
      <div class="text-h4">{{ $t("signIn.password") }}</div>

      <div v-if="!loading" class="d-flex align-center">
        <v-icon class="mr-1" color="primary" size="17">
          {{ mdiPencilOutline }}
        </v-icon>
        {{ $t("profile.edit") }}
      </div>
    </div>

    <div v-if="loading" data-test="password-settings-loader">
      <v-skeleton-loader
        class="mt-1"
        type="list-item-two-line"
        data-test="loading-item"
      />
    </div>

    <div v-else>
      <v-text-field
        disabled
        value="Placeholder"
        type="password"
        data-test="password"
      />
    </div>
  </v-form>
</template>

<script>
import { mdiPencilOutline } from "@mdi/js";

export default {
  name: "PasswordSettings",

  props: {
    user: { type: Object, required: true },
    loading: { type: Boolean, default: false },
  },

  data() {
    return {
      mdiPencilOutline,
    };
  },
};
</script>
