<template>
  <v-form>
    <div v-if="loading" data-test="primary-contact-loader">
      <v-skeleton-loader
        v-for="n in 5"
        :key="n"
        class="mt-4"
        type="list-item"
        data-test="loading-item"
      />
    </div>

    <div v-else>
      <div class="d-flex justify-end align-center">
        <v-icon class="mr-1" color="primary" size="17">
          {{ mdiPencilOutline }}
        </v-icon>

        {{ $t("profile.profileInfo.edit") }}
      </div>

      <v-text-field
        :label="$t('profile.profileInfo.name')"
        disabled
        :value="userName"
        data-test="name"
      >
      </v-text-field>
      <v-text-field
        :label="$t('profile.profileInfo.phoneNumber')"
        disabled
        :value="user.phoneNumber.value | phoneNumber"
        data-test="phone-number"
      />
      <v-text-field
        :label="$t('profile.profileInfo.address')"
        disabled
        :value="user.address.formatted"
        data-test="address"
      />
      <v-text-field
        :label="$t('profile.profileInfo.username')"
        disabled
        :value="user.username"
        data-test="username"
      />
      <v-text-field
        v-if="user.dateOfBirth"
        :label="$t('profile.profileInfo.DOBTIN')"
        disabled
        :value="user.dateOfBirth | shortDate"
        data-test="dob"
      />
      <v-text-field
        v-if="user.tin"
        :label="$t('profile.profileInfo.DOBTIN')"
        disabled
        :value="user.tin"
        data-test="tin"
      />
    </div>
  </v-form>
</template>

<script>
import { capitalize } from "@/filters/filters";
import { mdiPencilOutline } from "@mdi/js";

export default {
  name: "PrimaryContact",

  props: {
    user: { type: Object, required: true },
    loading: { type: Boolean, default: false },
  },

  data() {
    return {
      mdiPencilOutline,
    };
  },

  computed: {
    userName() {
      return `${capitalize(this.user.firstName)} ${capitalize(
        this.user.lastName
      )}`;
    },
  },
};
</script>
