<template>
  <div class="mt-md-12 mt-8">
    <div class="font-weight-bold">
      {{ title }}:
      <span class="font-weight-regular">
        {{ content }}
      </span>
    </div>
  </div>
</template>
<script>
export default {
  name: "ProfileField",
  props: {
    title: { type: String, default: "" },
    content: { type: String, default: "" },
  },
};
</script>
